/*cto*/
li {
    list-style: none
}

.enterprise-control-center .content {
    margin: 0 auto;
    padding-bottom: 50px;
}

.enterprise-control-center .m-b-20 {
    margin-bottom: 20px
}

.enterprise-control-center .tc {
    text-align: center
}

.enterprise-control-center .m-t-75 {
    margin-top: 75px
}

.enterprise-control-center .m-r-70 {
    margin-right: 70px
}

.enterprise-control-center .f-s-35 {
    font-size: 35px
}

div.top {
    background-image: url(../../images/enterprise/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -65px;
}

.message {
    padding-top: 130px;
    padding-bottom: 70px
}

div.top h2 {
    font-size: 41px;
    color: #fff;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased
}

div.top p.team {
    width: 575px;
    margin: 0 auto 0;
    padding-top: 20px;
    border-top: 1px solid #88b2dc
}

div.top h1 {
    font-size: 68.5px;
    font-weight: 200;
    color: #ffd600;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased
}

p.btn {
    width: 206px;
    margin: 40px auto 60px;
    display: block;
}

button.join {
    display: block;
    height: 55px;
    font-size: 16px;
    padding: 0 20px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

div.introduce {
    color: #4e4e4e;
    background-color: #fff;
    padding-bottom: 60px;
}

h3.title {
    color: #333;
    font-weight: 100;
    padding: 80px 0 35px 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased
}

div.provide {
    background-color: #f7f7f7;
    color: #333
}

div.provide div.content ul {
    width: 900px;
    margin: 0 auto
}

div.provide div.content ul li {
    list-style: none;
    display: inline-block;
    width: 32%;
    color: #333;
    padding: 45px 3%;
}

li.more {
    position: relative;
    top: 10px
}

div.provide div.content ul li h4 {
    font-size: 24px;
    margin: 25px 0 20px 0;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased
}

div.provide div.content ul li p {
    font-size: 14px
}

div.process {
    padding-bottom: 70px;
    background-color: #fff;
}

div.process ul {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px
}

div.process ul li {
    position: relative;
    width: 31%;
    display: inline-block
}

img.line {
    position: absolute;
    left: 164px;
    top: 33px
}

div.process ul li:first-child {
    position: relative;
    top: -30px
}

p.one, p.three, p.two {
    display: block;
    font-size: 24px;
    margin-top: 25px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased
}

p.three i, p.two i {
    font-style: normal;
    font-size: 14px;
    color: #999
}

div.process button.wel {
    font-size: 14px;
    color: #fff;
    background-color: #1081de;
    width: 200px;
    height: 54px;
    font-weight: 100;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    border-style: none;
}

@media screen and (max-width: 768px) {
    .f-s-35 {
        font-size: 20px
    }

    p {
        font-size: 12px
    }

    div.provide div.content ul li p {
        font-size: 12px
    }

    img.width-app {
        width: 90%
    }

    div.content {
        width: 90%
    }

    .message {
        padding-top: 104px;
        padding-bottom: 62px
    }

    div.top p.team {
        width: 100%
    }

    div.top p.team img {
        width: 30%;
        margin-right: 10px
    }

    div.top h2 {
        font-size: 21px
    }

    div.top h1 {
        font-size: 34.5px
    }

    p.btn {
        width: 168px
    }

    button.join {
        height: 42px;
        font-size: 12px;
        border-radius: 5px
    }

    h3.title {
        color: #333;
        font-weight: 100;
        padding: 45px 0 25px 0
    }

    div.provide div.content ul {
        width: 100%
    }

    div.provide div.content ul li {
        width: 100%;
        padding: 35px 70px
    }

    div.provide div.content ul li h4 {
        font-size: 20px
    }

    div.process ul {
        width: 90%;
        margin-top: 25px
    }

    div.process ul li {
        width: 100%
    }

    div.process ul li img {
        display: block;
        margin: 0 auto 50px
    }

    div.process ul li img.line {
        display: none
    }

    p.one, p.three, p.two {
        position: relative;
        top: -30px;
        font-size: 20px
    }
}