.navbar{z-index:1001;padding-left:60px;-webkit-transition:all .25s;transition:all .25s}
.navbar>.container .navbar-brand .fa-angle-right,.navbar>.container-fluid .navbar-brand .fa-angle-right{margin-left:5px;margin-right:5px}
.navbar>.container .navbar-expand-toggle,.navbar>.container-fluid .navbar-expand-toggle{width:60px;height:60px;outline: none;background-color:transparent;border:0;float:left;-moz-transition:all .25s linear;-webkit-transition:all .25s linear;transition:all .25s linear;opacity:.75}
.navbar>.container .navbar-expand-toggle .icon,.navbar>.container-fluid .navbar-expand-toggle .icon{font-size:1.4em}
.navbar>.container .navbar-right-expand-toggle,.navbar>.container-fluid .navbar-right-expand-toggle{width:60px;height:60px;background-color:transparent;border:0;position:absolute;right:0;-moz-transition:all .25s linear;-webkit-transition:all .25s linear;transition:all .25s linear;opacity:.75}
.navbar>.container .navbar-right-expand-toggle .icon,.navbar>.container-fluid .navbar-right-expand-toggle .icon{font-size:1.4em}
.navbar .navbar-breadcrumb{margin-left:0;background-color:transparent;padding:0;float:left}
.navbar .navbar-breadcrumb>li{height:60px;line-height:60px;vertical-align:middle;font-family:'Roboto Condensed',sans-serif;font-size:1.5em}
.navbar .dropdown-menu{padding:0;border:0;border-bottom-left-radius:2px;border-bottom-right-radius:2px;animation-duration:.4s;-webkit-animation-duration:.4s;z-index:-1;position:absolute}
.navbar .dropdown-menu .title{font-family:'Roboto Condensed',sans-serif;padding:5px 10px;-moz-box-shadow:0 1px 2px rgba(0,0,0,.3);-webkit-box-shadow:0 1px 2px rgba(0,0,0,.3);box-shadow:0 1px 2px rgba(0,0,0,.3)}
.navbar .dropdown-menu .message{font-family:'Roboto Condensed',sans-serif;text-align:center;padding:10px 20px}
.navbar .dropdown-menu .notifications.list-group{list-style:none;padding:0;margin:0}
.navbar .dropdown-menu .notifications.list-group .list-group-item{min-width:250px;padding:8px;border:0;border-bottom:1px solid #EEE}
.navbar .dropdown-menu .notifications.list-group .list-group-item .icon{margin-right:5px}
.navbar .dropdown-menu .notifications.list-group .badge{border-radius:1em}
.navbar .dropdown-menu .notifications.list-group .list-group-item:last-child{border-bottom-right-radius:0;border-bottom-left-radius:0}
.navbar .dropdown-menu .notifications.list-group .list-group-item:first-child{border-top-right-radius:0;border-top-left-radius:0}
.navbar .dropdown-menu .notifications.list-group a.list-group-item:hover{cursor:pointer}
.navbar .dropdown.profile .dropdown-menu{width:305px;padding-bottom:0;text-align:center}
.navbar .dropdown.profile .dropdown-menu li.profile-img{padding:0;max-height:300px;overflow:hidden}
.navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img{width:100%;height:auto;margin:0;border:0}
.navbar .dropdown.profile .dropdown-menu .profile-info{font-family:'Roboto Condensed',sans-serif;padding:15px}
.navbar .dropdown.profile .dropdown-menu .profile-info .username{font-size:1.8em}
.app-container{min-height:100%;position:relative;padding-bottom:60px}
.app-container .app-footer{display:block;position:absolute;bottom:0;right:0;left:65px;-webkit-transition:all .25s;transition:all .25s;font-size:12px;font-family:'Roboto Condensed',sans-serif}
.app-container .app-footer .wrapper{padding:10px 35px;padding-left:25px;height:50px;line-height:50px;vertical-align:middle}
.app-container .content-container{margin-right:0;margin-left:0}
.app-container .content-container .side-menu{overflow-y:auto;z-index:1002;width:60px;height:100%;-webkit-transition:all .25s;transition:all .25s;position:fixed}
.app-container .content-container .side-menu .navbar-header{width:100%;border-bottom:0 solid #e7e7e7}
.app-container .content-container .side-menu .navbar-header .navbar-brand{width:455px;line-height:60px;height:60px;padding:0;width:100%;overflow:hidden;font-family:'Roboto Condensed',sans-serif;text-align:center}
.app-container .content-container .side-menu .navbar-header .navbar-brand .icon{width:60px;text-align:center;display:inline-block}
.app-container .content-container .side-menu .navbar-header .navbar-brand .title{font-size:30px;display:none}
.app-container .content-container .side-menu .navbar-header .navbar-expand-toggle{position:absolute;right:0;width:60px;height:60px;background-color:transparent;border:0;-moz-transition:all .25s linear;-webkit-transition:all .25s linear;transition:all .25s linear;opacity:.75}
.app-container .content-container .side-menu .navbar{border:none;padding-left:0}
.app-container .content-container .side-menu .navbar-nav li{display:block;width:100%;overflow:hidden}
.app-container .content-container .side-menu .navbar-nav li a{font-family:'Roboto Condensed',sans-serif;padding:0 10px 0 10px;height:46px;line-height:46px;display:block;white-space:nowrap}
.navbar .navbar-nav>li:hover>a,.navbar.navbar-default .navbar-nav>li:hover>a{color:#22A7F0}
.side-menu.sidebar-inverse{background-color:#353d47;box-shadow:1px 1px 2px rgba(0,0,0,.08)}
.side-menu.sidebar-inverse .navbar{background-color:#353d47;border-bottom:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
.side-menu.sidebar-inverse .navbar li{border-left:0}
.side-menu.sidebar-inverse .navbar li>a{color:#FFF}
.side-menu .navbar-header {background-color: #22A7F0;margin-bottom: 4px;}
.side-menu.sidebar-inverse .navbar li.active>a{color:#353d47;border-left:3px solid #22A7F0;border-right:0 solid #22A7F0;background-color:#FFF}
.app-container .content-container .side-menu .navbar-nav li a .icon{margin-left:0;width:38px;text-align:center;font-size:1.4em;display:inline-block}
.app-container .content-container .side-menu .navbar-nav li a .title{width:0;white-space:nowrap;padding-left:6px;display:none}
.app-container .content-container .side-menu .navbar-nav li.dropdown{border:0;margin-bottom:0;border-radius:0;box-shadow:none}
.app-container .content-container .side-menu .navbar-nav li.dropdown ul li a{height:44px;line-height:44px;vertical-align:middle;padding:0 1.2em}
.app-container .content-container .side-menu .navbar-nav li.dropdown>a:after{content:"";position:absolute;right:1em}
.app-container .content-container .side-menu .navbar-nav .panel-collapse.in{display:none}
.app-container .content-container .side-menu:hover{width:250px}
.app-container .content-container .side-menu:hover .navbar-header .navbar-brand .title{display:inline-block;color: #fff;}
.app-container .content-container .side-menu:hover .navbar-nav li a .title{width:192px;display:inline-block}
.app-container .content-container .side-menu:hover .panel-collapse.in{display:block}
.app-container .content-container .side-body{padding-top:70px}
.app-container .content-container .side-body.padding-top{padding-top:84px}
.app-container.expanded .app-footer{left:250px}
.app-container.expanded .app-footer .wrapper{padding-left:25px}
.app-container.expanded .content-container .navbar-top{padding-left:250px}
.app-container.expanded .content-container .side-menu{width:250px}
.app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title{display:inline-block;color: #fff;}
.app-container.expanded .content-container .side-menu .navbar-nav li a .title{display:inline-block}
.app-container.expanded .content-container .side-menu .navbar-nav li .panel-collapse.in{display:block}
.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{margin-left:-15px;margin-right:-15px}
.page-title{font-family:'Roboto Condensed',sans-serif;margin-left:-10px;margin-right:-10px;padding:15px 10px;margin-bottom:0;height:auto}
.page-title .title{font-size:2em}
.page-title .page-action{float:right;height:40px;line-height:40px;vertical-align:middle}
.sub-title{font-family:'Roboto Condensed',sans-serif}
.sub-title>*{display:inline-block}
.sub-title h3{margin-right:10px}
.sub-title .description{font-family:'Roboto Condensed',sans-serif;font-size:.9em}
.sub-title .action .btn{padding:0 .5em}
.app-container+.testin-main{margin-left:60px;-webkit-transition:all .25s;transition:all .25s}
.app-container.expanded+.testin-main{margin-left:260px}
@media (max-width:768px){.navbar{padding-left:0}
    .navbar .navbar-header{width:auto;display:block}
    .navbar .navbar-nav{width:auto;margin:0}
    .navbar .navbar-right{position:absolute;top:0;right:-100%;height:100%;width:100%;-moz-transition:all .25s linear;-webkit-transition:all .25s linear;transition:all .25s linear}
    .navbar .navbar-right .open .dropdown-menu{position:absolute}
    .navbar .navbar-right.expanded{right:0}
    .app-container .navbar-top{min-width:300px}
    .app-container .content-container .side-menu{margin-left:-250px;width:0}
    .testin-main{margin-left:0!important}
    .app-container .testin-main{margin-left:10px}
    .app-container.expanded .navbar-top{min-width:480px;padding-left:0}
    .app-container.expanded .side-menu{margin-left:0;width:250px}
    .app-container.expanded+.testin-main{margin-left:10px}
    .app-container .app-footer .wrapper,.app-container.expanded .app-footer .wrapper{padding-left:25px}
}

/*文字图标*/
@font-face {font-family: "iconfont";
    src: url('../../fonts/iconfont.eot?t=1460951991'); /* IE9*/
    src: url('../../fonts/iconfont.eot?t=1460951991#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/iconfont.woff?t=1460951991') format('woff'), /* chrome, firefox */
    url('../../fonts/iconfont.ttf?t=1460951991') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../../fonts/iconfont.svg?t=1460951991#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {font-family:"iconfont" !important;font-size:16px;font-style:normal; -webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
/*默认样式*/
html, body {position: relative;  height: 100%;}
/*a{color: #22a4e5;}*/
/*a:hover{color: #25b3fa;text-decoration: none;}*/
.swiper-container {  width: 100%;  height: 100%;}
.swiper-slide {text-align: center;background: #fff;display: table;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;
    justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;  }
.swiper-slide-con{display:table-cell;vertical-align: middle;}
.swiper-slide-con p{color: #fff;}
.swiper-slide-con .p1{font-size: 0.55rem;}
.swiper-slide-con .p2{font-size: 0.22rem;margin: 0.2rem 0px;}

.swiper-slide1{background: url("../images/1.jpg") no-repeat;background-size: cover;}
.swiper-slide2{background: url("../images/2.jpg") no-repeat;background-size: cover;}
.swiper-slide3{background: url("../images/3.jpg") no-repeat;background-size: cover;}
.swiper-button-next{width:21px;height:43px;background: url("../../images/right.png") no-repeat; }
.swiper-button-prev{width:21px;height:43px;background: url("../../images/left.png") no-repeat; }
/*覆盖bootstrap样式*/
/*覆盖bootstrap modal样式*/
.testin-btn-lg{background:rgba(0,0,0,0);font-size:0.2rem;border: 1px solid #fff;border-radius:6px;  padding: 0.18rem 0.50rem;  display: inline-block;  color: #fff;}
.testin-btn-default{padding: 0.18rem 0.50rem;font-size:0.2rem;border:1px solid #ccc;background: #fff;}
.testin-btn-lg:hover{color: #000;background: #fff;}
.testin-modal .modal-header{background: #f6f6f6; padding: 15px 20px;border-bottom: 0px;border-radius: 5px 5px 0px 0px;}
.testin-modal .modal-header h4{color: #333;font-size: 14px;}
.testin-modal .modal-footer{background: #f6f6f6; padding: 12px 20px 10px 0px;border-top: 0px;border-radius: 0px 0px 5px 5px;}
.testin-modal .btn-primary {  color: #fff;  background-color: #22a4e5;  border-color: #22a4e5; }
.testin-modal .btn{padding: 10px 20px;}
.testin-form-horizontal .control-label{color: #666;font-weight: normal;}

.testin-table .table>tbody>tr>td{border-bottom:1px solid #e9e9e9;border-top:none;}
.testin-table .table>thead>tr>th{background: #f7f7f7;border: none;padding: 15px 20px;}
@media (min-width: 767px){.tab-content{margin: 20px;}}
.testin-table .table>tbody>tr>td{padding: 15px 20px;}
.testin-nav-tabs{margin: 0px 20px;}
.testin-nav-tabs>li>a {margin-right: 2px;  line-height: 1.428571429;  border: none;  border-radius:0; color: #333;padding: 10px 23px;}
.testin-nav-tabs > li > a:hover,.testin-nav-tabs > li > a:focus{background: rgba(0,0,0,0);color: #22a4e5;}
.testin-nav-tabs>li.active>a,.testin-nav-tabs>li.active>a:hover,.testin-nav-tabs>li.active>a:focus{color: #22a4e5;border:none;border-bottom: 2px solid #22a4e6;}
.testin-pagination{margin: 0px;float: right;}
@media (max-width: 767px){.testin-pagination{margin: 20px;}}
.testin-pagination>.active>a{background: #22a4e6;border:1px solid #22a4e6;}
.testin-pagination>li>a{color: #22a4e5;border: 1px solid #ccc;}
.testin-pagination>.disabled>a{border: 1px solid #ccc;}
.testin-form-horizontal{margin: 50px 0px;}
@media (max-width: 767px){.testin-form-horizontal{margin: 30px 20px;}}
.testin-form-horizontal .form-control{height: 38px;}
.testin-form-horizontal textarea{min-height:100px;}
.testin-select{position: relative;}

.testin-select-set{margin-bottom: 1px;  width: 100%;  height: 38px;  padding: 9px 12px;  font-size: 14px;  line-height: 1.428571429;  color: #555;
    vertical-align: middle;  background-color: #fff; border: 1px solid #ccc;  border-radius: 4px;  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;background: url("../images/icon_01.png") no-repeat right center;}
.testin-select-list{border: 1px solid #ccc;  border-radius: 4px;display: none; position: absolute;background-color: #fff;width: 100%;z-index: 10;}
.testin-select-list li{line-height: 30px;padding: 0px 12px;}
.testin-select-list li:hover{background: #22a4e6;color: #fff;}
.testin-form-horizontal .help-block-error{color: #e36159;}
.testin-form-horizontal .has-error .form-control{border-color:#e36159}
.get-code{ position: relative;}
.get-code input:last-child {position: absolute;right: 15px;top: 0px;height: 38px;line-height: 38px;background-color: #22a4e6;padding: 0px 15px;border-radius: 0px 4px 4px 0px;color: #fff;}
/*按钮*/
.testin-button-list{margin: 30px;}
.testin-button-list .btn{padding: 10px 20px;}
.testin-btn-primary{background: #22a4e6;border:#22a4e6;color:#fff;}
.testin-btn-primary:hover{background:#25b3fa;color:#fff;}
.btn-default:hover{border:1px solid #25b3fa;color: #25b3fa;background: rgba(0,0,0,0);}
.btn-default.btn-disabled,.btn-default.btn-disabled:hover{border:1px solid #e0e0e0;color: #ccc;background: #f7f7f7;}
.btn-sure{background: #22a4e6;color: #fff;}
.btn-sure:hover{background: #25b3fa;color: #fff;}
.btn-order{background: #f27935;color: #fff;}
.btn-order:hover{background: #ff8640;color: #fff;}
.btn-delete{background: #e36159;color: #fff;}
.btn-delete:hover{background: #fa6e66;color: #fff;}
.btn-link{color: #22a4e5;}
.btn-link:hover{color: #25b3fa;}
.testin-button-list .btn-lg{padding: 12px 24px;}
.testin-button-list .btn-mid{padding: 9px 19px;}
.testin-button-list .btn-sm{padding: 6px 10px;}
.testin-progress .progress{border-radius: 10px;}
.testin-progress-bar-success {  background-color: #22a4e6;}
.testin-progress .sr-only{position: inherit;}
.btn .iconfont{font-weight: 600;}
/*--------------------表单--------------------*/
.testin-main .input-group[class*=col-] {float: none;padding-right: 15px;padding-left: 15px;}

/*--------------------滑动按钮--------------------*/
.switch-box-con{padding:20px}
.switch-box{position:relative;display:inline-block}
.checkbox:before,.switch-box:after{font-family:FontAwesome;-webkit-font-feature-settings:normal;-moz-font-feature-settings:normal;font-feature-settings:normal;-webkit-font-kerning:auto;-moz-font-kerning:auto;
    font-kerning:auto;-webkit-font-language-override:normal;-moz-font-language-override:normal;font-language-override:normal;font-stretch:normal;font-style:normal;font-synthesis:weight style;font-variant:normal;font-weight:400;text-rendering:auto}
.switch-box label{width:90px;height:20px;background:#ccc;position:relative;display:inline-block;border-radius:46px;-webkit-transition:.4s;transition:.4s}
.switch-box label:after{content:'';position:absolute;width:50px;height:50px;border-radius:100%;left:0;top:-5px;z-index:2;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.2);-webkit-transition:.4s;transition:.4s}
.switch-disabled label{background:#e0e0e0}
.switch-box input{position:absolute;left:0;top:0;width:100%;height:100%;z-index:5;opacity:0;cursor:pointer;margin-left:0!important}
.switch-box input:hover+label:after{box-shadow:0 2px 15px 0 rgba(0,0,0,.2),0 3px 8px 0 rgba(0,0,0,.15)}
.switch-box-lg label{width:66px;height:34px}
.switch-box label:after{top:2px;width:16px;height:16px;left:2px}
.switch-box input:checked+label:after{left:20px}
.switch-box-lg label::after{width:30px;height:30px}
.switch-box-lg input:checked+label::after{left:34px}
.switch-box-md label::after{width:22px;height:22px}
.switch-box-md input:checked+label::after{left:26px}
.switch-box-md label{width:50px;height:26px}
.switch-box-sm label{width:38px;height:20px}
.switch-box input:checked+label{background:#2ea5e3}

.table .switch-box-sm{height: 20px;overflow: hidden;}
.table .switch-box-sm label,.table .switch-box-sm input{margin: 0px;padding: 0px;}
/*提示气泡的样式*/
.testin-tooltip{padding: 20px;}
.tooltip-hover span{display: block;width: 100%;text-align: center;color: #999;line-height: 16px;}
.tooltip-hover p{color: #333;background-color: #fff;border-color: #ccc;}
/*提示框*/
.popover{border: 1px solid #ddd;}
.popover.right>.arrow {  border-right-color: rgba(0,0,0,.1);}
.popover.top>.arrow {  border-top-color: rgba(0,0,0,.1);}
.popover.left>.arrow {  border-left-color: rgba(0,0,0,.1);}
.popover.bottom>.arrow {  border-bottom-color: rgba(0,0,0,.1);}
.popover span{display: block;font-size: 12px;color: #333;text-align: center;}

.testin-popover{border: 1px solid #ffac00;}
.testin-style-popover .left{float: left;background: #ffac00;}
/*--------------------步骤--------------------*/
.testin-step{padding: 20px;}
.transverse-list{position: relative;float: left;left: 50%;}
.transverse-list li{position:relative; right:50%; z-index:2; float:left}
.transverse-list li span{float: left;}
.transverse-list li .span1{width: 22px;height: 22px;text-align:center;line-height:20px;border-radius: 50%;font-size: 12px;color: #999;border: 1px solid #999;margin-right: 3px;}
.transverse-list li .span2{font-size: 14px;color: #999;line-height:20px;}
.transverse-list li .span3{height: 1px;width: 100px;background:#ccc;margin: 10px 20px;}
.transverse-list .steped .span1{border: none;}
.transverse-list .steped .span2,.transverse-list .steping .span2{color: #22a4e5;}
.transverse-list .steped .span3,.transverse-list .steped .span3{background: #22a4e6;}
.transverse-list .steping .span1{border:1px solid #22a4e6;color: #fff;background: #22a4e6;}
.portrait-list{left: 0px;}
.portrait-list,.portrait-list li{float: none;left: 0px;}
.portrait-list li .span3{display:block;height: 40px;width: 1px;background: #22a4e6;margin: 30px 10px 10px;float: none;}
.portrait-list li .step-explain{position: absolute;top:25px;left: 25px;color: #999;font-size: 12px;}
@media (max-width:768px){.step-list{display: none;}}
/*--------------------翻页--------------------*/
.pagination-box{padding: 20px;}
.testin-more-pagination a{border: 1px solid #ccc;color: #22a4e5;margin-left: -1px;background-color: #fff;line-height: 1.42857;padding: 8px 12px;position: relative;  text-decoration: none;}
.testin-more-pagination>li>span{border-color:#ccc;color: #22a4e5;}
.testin-more-pagination:first-child > a{  border-radius: 4px 0px 0px 4px; }
.testin-more-pagination:last-child > a{  border-radius: 0px 4px 4px 0px; }
.testin-more-pagination .active{background: #22a4e6;color: #fff;}
.testin-more-pagination a:hover{background: #f5f5f5;}
.testin-more-pagination .active:hover{background: #22a4e6;color: #fff;}
/*--------------------自有样式--------------------*/
html,body{font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB",STHeitiSC-Light,"Microsoft YaHei","微软雅黑",Arial,sans-serif;}
.testin-main{padding: 20px;margin-left: 60px;}
.go-back{float: right; margin: -25px 20px 0px 0px;}
.testin-content-box{border: 1px solid #e8e9ea;border-radius:5px;box-shadow:0px 2px 0px #dedfdf;margin-bottom: 20px;}
.title-head{border-bottom: 1px solid #e9e9e9;}
.title-head h3{ font-size: 14px;color: #333;margin: 0px;height: 40px;line-height: 40px;padding-left: 20px;}
.testin-progress,.all-tips{padding: 20px;}
.sucess-tip,.warnning-tip,.danger-tip{width: 100%;height:50px;}
.sucess-tip{background: #04b27d;position: relative;}
.danger-tip{background: #d05c55;position: relative;}
.warnning-tip{background: #ea9f05;position: relative;}
.sucess-tip-con,.warnning-tip-con,.danger-tip-con{margin: 0 auto;color: #fff;line-height: 50px;text-align: center;font-size: 14px;}
.sucess-tip-con{background: url("../images/tip_sucess.jpg") no-repeat;}
.danger-tip-con{background: url("../images/tip_danger.jpg") no-repeat;}
.warnning-tip-con{background: url("../images/tip_warning.jpg") no-repeat;}
.tip-close{font-size: 20px;  cursor: pointer; position: absolute; top: 12px; right: 20px;display: block;height: 20px;line-height: 20px;color: #fff;}
.notice-tip{height: 50px; line-height: 50px;width: 100%;text-align: center;background: #22a4e6;box-shadow: 0px 2px 2px #d4d4d5;color: #fff;font-size: 14px;position: relative;}
.notice-tip2{background:#e0f5ff;height: 48px;line-height: 48px;margin: 20px;border: 1px solid #bce8f1;border-radius: 5px;position: relative;}
.notice-tip2 p{text-align: center;color: #31708f;font-size: 14px;}
.notice-tip2 .tip-close{color:#a8b8bf;}
.notice-tip2 a{color: #22a4e5;margin-left: 8px;}
.notice-tip i{font-size: 18px;margin-right: 10px;}
/*--------------------表单元素--------------------*/
.input-radio{display: none;}
.input-radio-show{display: inline-block;width: 14px;height: 14px;background: url("../images/input-icon_01.png") no-repeat;}
.input-radio:checked+.input-radio-show{display: inline-block;width: 14px;height: 14px;background: url("../images/input-icon_03.png") no-repeat;}
.input-checkbox{display: none;}
.input-checkbox-show{display: inline-block;width: 14px;height: 14px;background: url("../images/input-icon_04.png") no-repeat;}
.input-checkbox:checked+.input-checkbox-show{display: inline-block;width: 14px;height: 14px;background: url("../images/input-icon_05.png") no-repeat;}
/*--------------------栅格系统--------------------*/
.testin-grid .container .col-md-3{}
.col-content{padding: 0px 6%;border: 1px solid #e9e9e9;border-radius: 5px;height: 300px;}
.testin-grid .row .col-xs-12{ margin-bottom: 30px;}
.col-content img{display: block;margin: 42px auto 38px;}
.col-content h3{padding-top: 25px;border-top: 1px solid #e9e9e9; font-size: 20px;color: #333;text-align: center;}
.col-content p{margin-top: 22px;line-height: 18px;color: #999;font-size: 12px;}
/*--------------------文字图标--------------------*/
.icon_lists li {float: left;width: 100px;height: 120px;text-align: center;}
.icon_lists .icon {font-size: 24px;}
.testin-bs-example{padding: 20px;}
/*导航1*/
.first-nav{width: 100%;height:32px;line-height: 32px;background: #262626;}
.first-nav-main{width: 1170px;margin: 0 auto;}
.first-nav-main a{font-size: 14px;color: #fff;margin-right: 30px;}
.first-nav-main a:hover{text-decoration: none;color: #22a4e5;}
.first-nav-main .left{float: left;}
.first-nav-main .right{float:right;}
.first-nav-main .right a{margin:0px 0px 0px 30px;}
/*导航2*/
.testin-index .navbar {position: relative;min-height: 70px;margin-bottom: 0px;border: 1px solid transparent;z-index: 10;border: none;/*position: fixed;width: 100%;top: 32px;*/}
.testin-index .navbar-brand {float: left;/*padding: 20px 0px;font-size: 18px;line-height: 20px; height: 70px;*/width: 103px;height: 29px;background: url(../images/logo-white.png) no-repeat;margin: 20px 0px;}
.testin-index .toTop .navbar-brand{background: url(../../images/logo.png) no-repeat;}
@media (min-width: 768px){.testin-index .navbar-nav>li>a {padding:25px 0px;}.testin-index .nav-main{width: 1170px;margin: 0 auto;}
    .testin-index .navbar-nav{float: right;}.testin-index .nav>li{position: inherit;}
    .testin-index .dropdown-menu{min-width:100%;border-radius:0px;border-top:1px solid #e0e0e0;box-shadow: 0 0 0 rgba(0,0,0,0);border-bottom: none;}
    .testin-index .navbar{border-radius: 0px;}
}
.testin-index .dropdown-menu{transition:all 0.5s 0.3s;}
.testin-index .dropdown-menu li {width: 1170px;  margin: 0 auto;padding: 60px 0px;}
.testin-index .dropdown-menu li .left{float: left;width: 540px;}
.testin-index .dropdown-menu li .left h3{font-size: 40px;color: #333;margin-bottom: 0px;font-weight: normal;}
.testin-index .dropdown-menu li .left h4{font-size: 16px;color: #333;margin: 34px 0px 25px 0px;font-weight: normal;line-height: 28px;}
.testin-index .dropdown-menu li .left p{font-size: 14px;color: #333;line-height: 30px;margin:0px 0px 0px 0px;}
.testin-index .dropdown-menu li .left .a-p{margin-top: 0px;}
.testin-index .dropdown-menu li .left .a-p a{float: left; margin-right: 30px;}
.testin-index .dropdown-menu li .left p .span1,.testin-index .dropdown-menu li .left .a1 .span1{float: left;/*width: 4px;height:4px;border-radius: 50%;background: #333;*/margin: -2px 10px 0px 0px;}
.testin-index .dropdown-menu li .left p .span2{float: left; width: 90%;}
.testin-index .dropdown-menu li .left .a-p .span2{width:auto;}
.testin-index .dropdown-menu li .right{float:right;width: 610px;}
.testin-index .dropdown-menu li .left .a1{margin-top: 17px;}
.testin-index .dropdown-menu li .left .a1 .span1{margin: -2px 10px 0px 0px;}
.testin-index .dropdown-menu li .left .a2{display: block;width: 150px;height: 50px;line-height:50px;margin-top: 33px;background: #005cba;border-radius: 5px;font-size: 16px;color: #fff;text-align: center;}
.testin-index .dropdown-menu li .left .a2:hover{background:#0864c1}
.testin-index .dropdown-menu li .left a{display: block;}
.testin-index .navbar-default .navbar-nav>li{margin-right: 44px;}
.testin-index .navbar-default .navbar-nav>li:last-child{margin-right: 0px;}
.testin-index .navbar-default .navbar-nav>li>a{font-size: 16px;color: #fff;}

.testin-index .navbar-default .navbar-nav>.open>a,.testin-index .navbar-default .navbar-nav>.open>a:hover,.testin-index .navbar-default .navbar-nav>.open>a:focus.testin-index .navbar-default .navbar-nav>.open>a:visited{background: rgba(0,0,0,0);color: #333;}
.testin-index .navbar-collapse{padding: 0px;}
.nav-box{position: fixed; top: 0; width: 100%;height: 92px; z-index: 10;}
.testin-index .navbar{width: 100%; background: rgba(0,0,0,0);}
.testin-index .navbar.toTop{background: #fff;}
.testin-index .toTop .navbar-nav>li>a{color: #333;}
.nav-close{font-size: 30px;position: absolute;top: 20px;right: 20px;color: #ccc;cursor: pointer;}
/*.testin-index .navbar-default .navbar-nav > .open > a,.testin-index .navbar-default .navbar-nav > .open > a:focus,.testin-index .navbar-default .navbar-nav > .open > a:hover，.testin-index .navbar-default .navbar-nav > .active > a{color: #22a4e5;}*/
.testin-index .navbar-default .navbar-nav>.open>a{background: rgba(0,0,0,0);}
.testin-index .navbar-default .navbar-nav > .open > a:hover,.testin-index .navbar-default .navbar-nav>li>a:hover{color: #22a4e5;}
.testin-index .toTop .navbar-nav>.open>a{background: rgba(0,0,0,0);color: #22a4e5;border-bottom: 3px solid #22a4e5;background: rgba(0,0,0,0);}
.nav-list-menu{margin-top: 50px;}
.testin-index .dropdown-menu .nav-list-menu li{text-align: center;float: left;width: 20%;padding: 0px;margin: 0px 0px 20px 0px;}
.testin-index .dropdown-menu .nav-list-menu li img{display: block;margin: 0 auto;margin-bottom: 10px;}
.nav-close{bottom: 20px;left: 50%;margin-left: -15px;top: auto;}
.nav-close i{font-size: 30px;}
@media (max-width: 768px){.first-nav{display: none;}.navbar-toggle{margin-top: 19px;}
    .testin-index .navbar-default .navbar-nav>li>a {font-size: 16px;color: #fff;}.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: rgba(0,0,0,0);}
    .testin-index .navbar-default .navbar-nav>li>a{padding-left: 15px;}.testin-index .navbar-default .navbar-nav>.active>a{border-bottom:1px solid #333;}.testin-index .toTop .navbar-nav>.open>a{border-bottom: 1px solid #333;}
    .navbar-collapse{border-top: 1px solid #222;}.navbar-default .navbar-collapse{border-color: #222;}.testin-index .navbar-brand{margin-left: 15px;}.testin-index .navbar.toTop{background: #222;}.navbar-nav .open .dropdown-menu{background: #fff;height: 300px;overflow-y: auto;}
    .testin-index .navbar-default .navbar-nav>.open{margin-right:0px;}.testin-index .dropdown-menu li .left {float:none; width:90%;margin: 0px 5%;}.testin-index .dropdown-menu li .right {  float:none;margin: 30px 5% 0px;width: 90%;}.testin-index .dropdown-menu li .right img{width: 100%;height: auto;}
    .testin-index .dropdown-menu li{padding: 30px 0px;}.testin-index .dropdown-menu li .left h3{font-size: 20px;}
    .testin-index .dropdown-menu li .left h4 {font-size: 16px; color: #333;margin: 20px 0px 20px 0px;}.testin-index .dropdown-menu li .left .a2{margin: 30px auto;}
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{color: #22a4e5;}.navbar-nav{margin: 0px;}.w_100{float: right;}
    .testin-index .navbar-default .navbar-nav>li>a {padding-left: 15px;border-bottom: 1px solid #333;text-align: center;line-height: 30px;}.testin-index .navbar-default .navbar-nav>li { margin-right: 0px;}.major-list{display: none;}.industry-data-phone{display: block;}
    .testin-index .navbar{top: 0px;}.nav-close{font-size: 30px;position: absolute;top:auto;right: 20px;color: #ccc;}.testin-index .dropdown-menu li {width: 100%;}.testin-index .dropdown-menu li .right img {  width: 100%;  height: auto;}}
/*--------------------导航3--------------------*/
.personal-nav{width:100%;height:50px;line-height:50px;background:#fff;box-shadow:0 5px 5px #dededf}
.personal-nav ul{max-width:1220px;margin:0 auto}
.personal-nav ul li{float:left;padding:0 15px;margin-right:15px}
.personal-nav ul li a{font-size:14px;color:#666}
.personal-nav ul li i{margin-right:5px}
.personal-nav ul .active{border-bottom:2px solid #22a4e6}
.personal-nav ul .active a{color:#00abe6}
/*--------------------底部样式--------------------*/
.footer{padding:60px 0 30px;overflow:hidden}
.footer .scrollpoint{opacity:1}
.footer .row1 p{text-align:center}
.footer .row2{padding-top:20px}
.footer .row2 p{text-align:center;color:#515a65;font-size:12px}
.footer .row2 .p2{line-height:24px}
.footer .row2 .p2 a{color:#8a8e93;font-size:12px}
.footer .row2 .p1{font-size:16px;color:#fff;line-height:30px}
.footer .row1{border-bottom:1px solid #3c4652;padding-bottom:20px}
.footer .p1 .iconfont{font-size:50px;color:#93989f}
.footer .p2{font-size:16px;color:#fff;line-height:50px}
.footer .p3{font-size:12px;color:#8a8e93;line-height:18px}
.footer .p4{font-size:12px;line-height:50px}
.footer .p4,.footer .p4 a{color:#08c}
.footer .social a{margin:0 5px}
.footer .row3 .for_record{width:100%;text-align:center;margin-top:50px;font-size:12px;color:#8a8e93}
.social .icon{width:50px;height:50px;display:inline-block;line-height:50px;text-align:center;border-radius:25px;-moz-border-radius:25px;-webkit-border-radius:25px;border:1px solid #767d85;color:#767d85}
.social{position:relative}
.social a:nth-of-type(2):hover+.erwei-pic{display:block}
.erwei-pic{position:absolute;top:-120px;display:none;background-color:#fff;padding:5px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.erwei-pic p{margin:3px 0}
.erwei-pic img{width:80px;height:80px}
.footer-bottom .left{float:left;width:40%;margin:30px 0 0 0}
.footer-bottom .right{float:right;width:60%;margin:30px 0 0 0}
.footer-bottom .left .for_record{color:#8a8e93}
.footer-bottom .right .social{float:right}
@media all and (min-width:768px){.w_100{text-align:right}
    .erwei-pic{right:48px}
}
.erwei-pic{right:0}
.footer .row2 p{text-align:center;color:#fff;font-size:12px;line-height:22px}
.social{text-align:center}
.footer .social a{margin:0 4px}
.footer .row2 .for_record,.footer .row2 .h_300 p{text-align:left}
@media screen and (max-width:767px){.new_explorer_nav .animenu__nav{margin-top:0}
    .footer .container .h_256{height:256px}
    .col-md-2.col-sm-2.col-xs-6.h_300 p{text-align:center}
    .footer .p4{line-height:20px}
    .footer-bottom .left{width:54%}
    .footer-bottom .right{width:42%}
}
@media all and (max-width:320px){.footer .container .h_256{height:280px}
}
/*--------------------补充新样式--------------------*/
.testin-navbar.navbar-fixed-top,.testin-navbar .navbar-breadcrumb{margin-bottom:0;}
.popover-c{ display: none;}
@media (max-width: 768px){.testin-main{padding: 10px;}.testin-button-list .btn{width: 100%;margin-bottom: 20px;}}

