.pro-wrap .post-search form{margin: 20px 0px 20px -1.45%;}
.pro-wrap .post-search form .form-group { margin-bottom: 15px;float: left;width: 17%;margin-left: 1.45%;}
.pro-wrap .post-search form .form-group:last-of-type{width: 72px;margin-top: 25px;}
.pro-wrap .post-search form .form-group .btn-primary {color: #fff;background-color: #1081de;border-color: #1081de;}
.pro-wrap .post-search form .form-group .btn-primary:hover{background: #2289dd;border-color: #2289dd;}