@font-face {
  font-family: 'iconfont';
  src: url('../../fonts/iconfont.eot?v=8004');
  src: url('../../fonts/iconfont.eot?#iefix&v=8004') format('embedded-opentype'),
       url('../../fonts/iconfont.woff?v=8004') format('woff'),
       url('../../fonts/iconfont.ttf?v=8004') format('truetype'),
       url('../../fonts/iconfont.svg#iconfont?v=8004') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before{
    content:'\e605';
}
.icon-prev:before{
    content:'\e7d0';
}
.icon-next:before{
    content:'\e607';
}
.icon-user:before{
    content:'\e6b4';
}
.icon-timer:before{
    content:'\e606';
}
.icon-leave-min:before{
    content:'\e608';
}
.icon-leave-low:before{
    content:'\e614';
}
.icon-leave-middle:before{
    content:'\e611';
}
.icon-leave-max:before{
    content:'\e613';
}
.icon-add:before{
    content:'\e622';
}
.icon-enclosure:before{
    content:'\e623';
}
.icon-close:before{
    content:'\e624';
}
.icon-left:before{
    content : '\e7d0';
}
.icon-right:before{
    content : '\e607';
}
.icon-people:before{
    content : '\e625';
}
.icon-version-update:before{
    content:'\e618';
}
.icon-device:before{
    content:'\e62e';
}
.icon-RAM:before{
    content:'\e631';
}
.icon-storage:before{
    content:'\e632';
}
.icon-SD-card:before{
    content:'\e633';
}
.icon-battery:before{
    content:'\e634';
}
.icon-network:before{
    content:'\e635';
}
.icon-carriers:before{
    content:'\e648';
}
.icon-position:before{
    content:'\e636';
}
.icon-breakout:before{
    content:'\e637';
}
.icon-direction:before{
    content:'\e638';
}
.icon-record:before{
    content : '\e64b';
}
.icon-edit:before{
    content : '\e64c';
}
.icon-sure:before{
    content:'\e60f';
}
body{font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-weight: 300;}
/*placeholder定义*/
input::-webkit-input-placeholder {color: #999 !important;}
input:-moz-placeholder {color:#999 !important;}
input::-moz-placeholder {color: #999 !important;}
input:-ms-input-placeholder {color: #999!important;}
