body {
    font-size: 13px;
    line-height: 1.42857143;
    font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-weight: 300;
}
.m-b-40{
    margin-bottom: 40px!important;
}
.text-left {
    text-align: left!important;
}
.c-gray {
    color: #666666!important;
}
.control-label {
    font-weight: 400;
}
.info_list_wrapper{
    padding: 60px 15px;
    border-top: 1px solid #f0f0f0;
}
.info_list_wrapper .form-group{
    margin-bottom: 30px;
}
.info_list_wrapper .form-group:first-child{
    position: relative;
    top: 17px;
}
.fg-line:not(.form-group) {
    display: inline-block;
    width: 100%;
}
.fg-line {
    position: relative;
    vertical-align: top;
}
.fg-line .form-control:not(:disabled) {
    color: #000;
}
.fg-line .form-control[disabled]{
    border-color: #ebebeb;
    background-color: #FCFCFC;
    color: #333333;
    box-shadow: none;
    cursor: text;
}
.fg-line .form-control {
    resize: none;
}
.app-profile-logo {
    position: relative;
    max-width: 72px;
    height: 72px;
    display: inline-block;
    float: left;
}
.webuploader-pick{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
}
.app-profile-logo img{
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 15px;
}
.add-logo-out .c-gray{float: left;
    margin: 20px 0px 0px 0px;padding-left: 5px;}
.webuploader-container div:nth-of-type(2){opacity: 0;z-index: 2;}
.app-profile-logo>img {
    width: 100%;
}
.app-profile-logo>.app-logo-file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.add-logo-out{
    top: -17px;
}
.add-logo-out .text-left{
    font-size: 12px;
}
.add-logo-out .control-label{
    margin-left: 10px;
}
.system-out{
    padding-top: 0px;
    margin-top: -2px;
}
.system-out .checkbox-inline:first-child{
    padding-left: 0px;
}
.system-out .checkbox-inline .input-radio-show{
    vertical-align: top;
    position: relative;
    top: 1px;
}
.input-sm{
    height: 36px;
    font-size: 13px;
}
.owner-out .icon-input{
    position: relative;
}
.owner-out .icon-input input{
    padding-left: 38px!important;
}
.owner-out .icon-input img{
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 8px 8px 0px 10px;
    top: 0;
    border-radius: 50%;
}
.save-all{
    display: block;
    background: #1081DE;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);
    border-radius: 2px;
    width: 88px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}
.save-all:hover{
    background-color: #3098F2;color: #fff;text-decoration: none;
}
