body{background: #f5f7f7;font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-weight: 300;}
.enterprise-control-center p,.enterprise-control-center ul{margin: 0px;padding: 0px;}
li{list-style: none;}
textarea{resize: none;}
a:focus {outline: none;outline: none;outline-offset:0px;}
/*管理中心导航*/
.enterprise-control-center .navbar{width: 100%;min-height: 50px;background: #1081de;border-radius: 0px;border: none;margin-bottom: 0px;}
.enterprise-control-center .navbar .nav-main{max-width: 1200px;margin: 0px auto;}
.enterprise-control-center .navbar .navbar-nav{float: right;}

.enterprise-control-center .navbar-brand {
    padding: 15px 0px;
}
.enterprise-control-center .navbar-brand>img{display: inline-block; width: 135px;height: 23px;}

.enterprise-control-center .navbar-brand span {
    font-size: 14px;
    color: #fff;
    margin: 0px 0px 0px 10px;
    display: inline-block;
    line-height: 30px;
}
.enterprise-control-center .navbar .navbar-nav a{font-size: 14px;color: #fff;}
.enterprise-control-center .navbar .navbar-nav li:hover a{color: #a0e5ff;}
/*管理中心主体*/
.enterprise-control-center-main{max-width: 1200px;margin:0 auto 60px;}
.apply-certification{width: 100%;height: 70px;background:#fffde3;margin-top: 20px;border:1px solid #f8e6c4;}
.apply-left,.apply-middle{float: left;}
.apply-right{float:right;margin: 16px 20px 0px 0px;}
.apply-btn{display: inline-block;height: 34px;line-height: 34px;background: #1081de;padding: 0px 18px;border-radius: 4px;font-size: 14px;color: #fff;}
.apply-right a:hover{background: #2f8ddb;outline: none;}
.apply-left{margin: 16px 0px 0px 20px;}
.apply-middle{margin: 8px 0px 0px 20px;}
.apply-middle .p1{line-height: 32px;font-size: 16px;color: #333;}
.apply-middle .p2{font-size: 12px;color: #666;}
/*管理中心主体 左侧*/
.enterprise-welfare{max-width: 1200px;margin: 18px auto 0px;border: 1px solid #ebebeb;overflow: hidden;}
.enterprise-welfare-left{width: 74.8%;float: left;border-right: 1px solid #ebebeb;background: #fff;padding-bottom: 10000px;margin-bottom: -10000px;}
.enterprise-welfare-left-main{padding:0px 30px;}
.enterprise-welfare-first h3,.help-list h3{padding-top: 18px;border-bottom:1px solid #ebebeb;margin: 0px;}
.enterprise-welfare-first h3 .span1,.help-list h3 .span1{line-height: 36px;font-size: 18px;color: #333;font-weight:normal;float: left;}
.enterprise-welfare-first h3 .span2{line-height: 30px;font-size: 14px;color: #666;margin-top: 6px;float:right;font-weight:normal;}
.enterprise-welfare-first h3 .span2 a{color: #1081de;  }
.enterprise-welfare-first ul{margin:20px 0px 0px -13px;}
.enterprise-welfare-first ul li{float: left;width: 198px;height: 158px;border: 1px solid #ebebeb;margin:0px 0px 22px 14px;text-align: center;list-style: none;border-radius: 4px;}
.enterprise-welfare-first ul li:hover{border: 1px solid #22a4e6;box-shadow: -5px 5px 7px #efefef;}
.enterprise-welfare-first ul li img{margin-top: 28px;}
.enterprise-welfare-first ul li a{font-size: 16px;color: #666;display: block;width: 100%;height: 100%;}
.enterprise-welfare-first ul li p{margin-top: 24px;}
.enterprise-data{background: #fafafa;padding: 18px 60px;margin: 20px 0px 24px 0px;}
.enterprise-data p{width: 32%;margin-left: 1.33%;float: left;padding: 18px 0px;font-size: 14px;line-height: 24px;}
.enterprise-data .second{width: 64%;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.enterprise-data p .span1{color: #999;}
.enterprise-data p .span3{color: #333;}
.enterprise-data p .span2{display: inline-block;height: 22px;line-height: 22px;border: 1px solid #ffe2a8;border-radius: 20px;font-size: 12px;color: #ff7800;padding: 0px 16px;}
.enterprise-welfare-third p{margin:25px 0px 20px 0px;font-size: 14px;color: #333;}
.enterprise-welfare-third p span,.enterprise-welfare-third p a{color: #1081de;}
.enterprise-welfare-third p a{text-decoration: underline;}
.exclusive-service-list{margin: 30px 0px;}
.exclusive-service-list .list-main {float: left;width: 33.33%;}
.list-main .left,.list-main .right{float: left;}
.list-main .left{width: 54px;height: 54px;line-height: 54px;text-align: center;border:1px solid #414141;border-radius: 50%;}
.list-main .left i{font-size: 24px;}
.list-main .right{margin: 3px 0px 0px 10px;}
.list-main .right .p1{font-size: 12px;color: #999;line-height: 22px;}
.list-main .right .p2{font-size: 16px;color: #1081de;}
.enterprise-welfare-fifth ul li{width: 408px;height: 134px;border: 1px solid #ebebeb;border-radius: 4px; }
.enterprise-welfare-fifth ul li .left,.enterprise-welfare-fifth ul li .right{float: left;}
.enterprise-welfare-fifth ul li .left{width: 176px;text-align: left;}
.enterprise-welfare-fifth ul li .left img{margin: 26px 0px 0px 33px;}
.enterprise-welfare-fifth ul li .right{width: 208px;}
.enterprise-welfare-fifth ul li .right .p1{margin-top: 14px;line-height: 34px;font-size: 14px;color: #333;}
.enterprise-welfare-fifth ul li .right .p2{line-height: 20px;font-size: 12px;color: #999;margin-top: 0px;text-align: left;}
/*管理中心主体 右侧*/
.enterprise-welfare-right{float: left;width: 25%;background: #fafafa;padding-bottom: 10000px;margin-bottom: -10000px;}
.enterprise-welfare-right-main{padding: 16px 30px 0px 30px;}
.enterprise-welfare-right-main h3{border-bottom:1px solid #ebebeb;margin: 0px;line-height: 38px;font-size: 18px;color: #333;font-weight:normal;}
.right-list ul{margin-top: 18px;}
.right-list ul li{list-style: none;line-height: 40px;width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.right-list ul li a{font-size: 14px;color: #999;}
.right-list ul li a:hover{color: #1081de;}

.enterprise-window{width: 500px;height: 280px;position: absolute;left: 50%;margin-left: -250px;top: 50%;margin-top: -140px;}
.enterprise-window .modal-content,.enterprise-window .modal-dialog{width: 100%;}
.enterprise-window .modal-dialog{width: 100%;margin: 0px;}
.enterprise-window .modal-body{line-height:96px;text-align: center;}
.enterprise-window .testin-btn-primary{background: #1081de;border: 1px solid #1081de;outline: none;}
.enterprise-window .testin-btn-primary:hover{background: #2f8ddb;border: 1px solid #2f8ddb;}
.enterprise-window .btn{padding: 6px 20px;}

/*员工管理*/
.staff-add{margin-top: 20px;}
.enterprise-tab-content{margin: 20px 0px 0px 0px;}
.enterprise-tab-content .table>thead>tr>th{background: #f7f7f7;border-bottom:none;padding: 14px;}
.enterprise-tab-content .table>tbody>tr>td{border-top:none;border-bottom:1px solid #e9e9e9;padding: 14px;}
.enterprise-control-center .testin-select-set{padding: 9px 14px;background: url("../../images/enterprise/arrow-bg.png") no-repeat right center;}
.enterprise-control-center .testin-modal .btn{padding: 6px 20px;}
.enterprise-control-center .testin-modal .testin-btn-primary{background: #1081de;}
/*功能页*/
.function{border: none;}
.function .enterprise-welfare-first ul li{width: 270px;height: 408px;}
.function .enterprise-welfare-left{background: #f5f7f7;border-right:none;width: 72.8%;margin-right: 2%;}
.function .enterprise-welfare-first ul {margin: 0px 0px 0px -26px;}
.function .enterprise-welfare-first ul li{margin: 20px 0px 0px 27px;padding: 0px 28px;position: relative;background: #fff;}
.function .enterprise-welfare-first ul li .p1{font-size: 20px;color: #333;}
.function .enterprise-welfare-first ul li .p2{font-size: 14px;color: #666;line-height: 24px;text-align: left;}
.function .enterprise-welfare-left-main{padding: 0px;}
.function .enterprise-welfare-right{border: 1px solid #ebebeb}
.function .enterprise-welfare-first ul li .fast-btn{display: block;width: 84%;text-align: center;height: 40px;line-height: 40px;border:1px solid #1081de;font-size: 16px;color: #1081de;border-radius: 4px;
    position: absolute;
    bottom: 20px;
    left: 8%;
}
.function .enterprise-welfare-first ul li:hover .fast-btn{background: #1081de;color: #fff;}
/*特权页*/
.enterprise-welfare-first ul li .privilege-price{margin-top: 0px;position: absolute;display: block;right: 0px;top: 0px;}
/*帮助中心*/
.help-list{margin-top: 20px;background: #fff;border: 1px solid #ebebeb;padding: 0px 30px;padding-bottom: 50px;}
.help-list h3 .span1{float: none;}
.help-list li{height: 50px;line-height: 50px;padding-left: 70px;border-bottom:1px solid #ebebeb;overflow: hidden;text-overflow: ellipsis;width: 90%;white-space: nowrap;background: url("../../images/enterprise/help.png") no-repeat 26px 14px;}
.help-list li a{font-size: 14px;color: #666;}
.help-list li a:hover{color:#1081de;}
/*详情*/
.details-first{text-align: center;margin-top: -20px;padding-bottom: 73px;padding-top: 70px;background: #fff;}
.details-first img{display: block;width: 233px;height: auto;margin: 0 auto;}
.details-first .p1{font-size: 36px;color: #333;font-weight: 300; margin-top: 20px;}
.details-first .p1 .span1{display: inline-block;color:#ff7b4b;padding: 0px 16px;height: 26px;line-height: 26px;border: 1px solid #ff7b4b;border-radius: 20px;margin-left: 11px;font-size: 14px; position: relative;}
.details-first .p1 .span1 .slash{display: inline-block;width: 110%;height: 1px;background-color: #ff7b4b;position: absolute;top: 13px; transform: rotate(0deg); left: 50%; margin-left: -55%;}
.details-first .p2{font-size: 14px;color: #666;font-weight: 300;margin-top: 18px;}
.details-first .apply-btn{margin-top: 36px;padding: 0px 33px;height: 36px;line-height: 36px;}
.details-second{padding-bottom: 130px;}
.details-second-main{width: 810px;margin: 0px auto;}
.details-second-main h3{font-size: 30px;color: #333;font-weight: 300;padding: 86px 0px 110px 0px;text-align: center; }
.usage-method-list,.step-go{float: left; text-align: center;}
.usage-method-list{width: 174px;text-align: center;}
.usage-method-list p{font-size: 16px;color: #666;margin-top: 30px;}
.step-go{margin-top: 40px;}
.step-go-shu{display: none;}
.details-third{background: #fff;}
.details-third .details-second-main{width: 880px;margin: 0px auto;}
.details-third .details-second-main h3{padding: 76px 0px 100px 0px;}
.details-third .details-second-main li{float: left;width: 19%;margin: 0px 3%;text-align: center;}
.details-third .details-second-main li i{font-size: 40px;color: #1081de;}
.details-third .details-second-main li .p1{font-size: 20px;color: #333;margin: 25px 0px 15px 0px;}
.details-third .details-second-main li .p2{font-size: 14px;color: #666;line-height: 24px;}
/*其他样式*/
.data-update {margin-left: 10px;}
.bg-info{background-color: #d9edf7; border-radius: 4px;color: #1081de;font-size: 18px; height: auto;line-height: 20px;margin: 20px 0;padding:15px 10px;text-align: center;}
.enterprise-control-center .navbar .navbar-nav a:visited,.enterprise-control-center .navbar .navbar-nav a:active{color: #fff;}

.enterprise-control-center .error {
    float: left;
    margin: 5px 0px 0px 113px;
    color: #ff3333;
}
.aso-usage-method{width: 610px;margin: 0 auto;}
.yczj .details-second-main li{width: 27%;}

.sucess-inter {
    width: 500px;
    margin: 100px auto;
    text-align: center;
    background: #fff;
    padding: 50px 50px 100px 50px;
    border-radius: 5px;
    border-top: 4px solid #1081de;
}

.sucess-inter .p1 {
    font-size: 30px;
    color: green;
    margin: 30px 0px;
}

.sucess-inter .login_bottom_t a {
    background: #1081de;
    color: #fff;
    padding: 11px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.enterprise-control-center .company-tip-success {
    background-color: #34d1a0;
    color: #fff;
}

.enterprise-control-center .company-tip-danger {
    background-color: #f2dede;
    color: #a94442;
}
/*移动端样式*/
@media (max-width: 768px) {
    .enterprise-control-center .navbar-brand {
        padding: 15px 0px;
    }

    .enterprise-control-center .navbar-default .navbar-toggle:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    .navbar-toggle {
        margin-top: 10px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-collapse {background-color: #333;}.enterprise-control-center .navbar .navbar-nav {float: none;}.enterprise-control-center .navbar-collapse{padding: 0px;}
    .enterprise-control-center .nav>li { text-align: center; border-bottom: 1px solid #999;height: 50px;line-height: 50px;}.enterprise-control-center .navbar .navbar-nav a {font-size: 16px;color: #fff;padding-top: 16px;}
    .apply-left {width: 38px;margin: 0 auto;float: none;padding-top: 20px;}.apply-middle {margin: 8px 0px 0px 20px;float: none;text-align: center;}.apply-certification{height: auto;}.apply-right{width: 120px;margin: 20px auto;float: none;}
    .enterprise-welfare-left{width: 100%;}.enterprise-welfare-left-main { padding: 0px 10px;}.enterprise-welfare-first h3 .span2{margin-top: 3px;}
    .enterprise-welfare-first ul li {float:none;width: 100%;height: auto;margin: 0px 0px 22px 0px;}.enterprise-welfare-first ul { margin: 20px 0px 0px 0px;}.enterprise-data {background: #fafafa;padding: 18px 10px;margin: 20px 0px 24px 0px;}
    .enterprise-data p {width: 100%; margin-left:0px;float:none;padding: 18px 0px;font-size: 14px;line-height: 24px;} .enterprise-data .second {width: 100%;}.exclusive-service-list .list-main {float: none;width: 100%;margin-bottom: 20px;}
    .enterprise-welfare-fifth ul li .left {width: 100%;text-align: center;}.enterprise-welfare-fifth ul li .right {width: 100%;text-align: center;}.enterprise-welfare-fifth ul li{padding: 10px 20px 20px;}
    .enterprise-welfare-right {float:none;width: 100%;}.enterprise-window {width: 90%;height: 280px;position: absolute;left: 50%;margin-left: -45%;top: 50%; margin-top: -140px;}.function .enterprise-welfare-left {
                                                                                                                                                                                     background: #f5f7f7;border-right: none;width: 100%;margin-right: 0px;float: none;}.function .enterprise-welfare-first ul li {width: 94%;height:auto;padding: 20px 3%;}.function .enterprise-welfare-first ul li .fast-btn {position: inherit;bottom: 0px;left: 0px;width:100%;margin-top:20px;}
    .help-list { padding: 0px 10px; padding-bottom: 50px;}.help-list li { padding-left: 50px;background: url("../../images/enterprise/help.png") no-repeat 13px 14px;}
    .details-first .p1 {font-size: 20px;}.details-second-main,.details-third .details-second-main{width:100%;margin: 0px auto;}
    .details-second-main h3,.details-third .details-second-main h3 {font-size: 22px;padding: 50px 0px 60px 0px;}.details-third .details-second-main li{width: 94%;margin-bottom: 30px;}
    .details-third .details-second-main li .p1{margin-top: 0px;}
    .step-go-shu{display: block;width: 100%;text-align: center;margin: 20px 0px;}.step-go{display: none;}.usage-method-list,.step-go{float:none;width: 100%;}.usage-method-list p{margin-top: 15px;}
    .enterprise-control-center .navbar-brand span{font-size: 12px;}.details-second {padding-bottom: 60px;}.aso-usage-method{width: 100%;}
}
