.bugmanagement-create{
    width: 100%;
    background: #FFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    border-radius: 2px;
    margin-top: 20px;
}
.bugmanagement-create-content{
    padding: 0px 15px 60px;
    border-top: 1px solid #f0f0f0;
}
.input-sm {
    height: 36px;
    font-size: 13px;
}
.bugmanagement-create .form-group {
    margin-bottom: 30px;
}
.select-type-box{
    width: 135px;
    height: 135px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
    border-radius: 2px;
    float: left;
    margin-right: 20px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    position: relative;
}
.select-type-box.active{
    border-color: #22A4E5;
}
.select-type-box:last-child{
    margin-right: 0;
}
.select-type-box .plat-pic{
    margin-top: 16px;
}
.select-type-box .plat-pic.zr_hide{
    display: none;
}
.select-type-box.active .plat-pic{
    display: none;
}
.select-type-box.active .plat-pic.zr_hide{
    display: inline-block;
}
.select-type-box .plat-name{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
}
.group-right{
    width: 630px!important;
}
.save-all {
    display: block;
    background: #1081DE;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);
    border-radius: 2px;
    width: 88px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}
.save-all:hover{
    background-color: #3098F2;
    color: #fff;
}
.bugmanagement-create-content .notice-tip2{
    border-radius: 2px;
}
.bugmanagement-create-content .notice-tip2 p{
    font-size: 13px;
}
.bugmanagement-create-content .notice-tip2 a{
    margin-left: 15px;
    text-decoration: underline;
}
.bugmanagement-create-content .notice-tip2 a:first-child{
    margin-left: 21px;
}
.bugmanagement-create-content .tip-close{
    top: 9px;
    display: none;
}
.help-block{
    font-size: 12px;
}
.has-error .control-label{
    color: inherit;
}
label{
    font-weight: normal;
}
.app-key-area{
    width: 100%;
    height: 64px;
    background: #FCFCFC;
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    line-height: 64px;
}
.app-key-text{
    text-align: center;
    position: relative;
}
.app-key-copy{
    position: absolute;
    right: 0px;cursor: pointer;
    margin-right: 20px;
}
.start-now{
    width: 155px;
    float: right;
}
.bugmanagement-create-content .btn-default{
    padding: 7px 12px;
}
.fg-line .form-control[disabled]{
    border-color: #ebebeb;
    background-color: #FCFCFC;
    color: #333333;
    box-shadow: none;
    cursor: text;
}
body{font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-weight: 300;}
