.tac{
    text-align: center;
}
.success-content-box{
    width: 600px;
    height: 320px;
    margin: 170px auto 0;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.04);;
    border-radius: 2px;
}
.success-tip{
    display: inline-block;
    margin-top: 70px;
}
.success-title{
    font-size: 18px;
    width: 465px;
    margin: 25px auto;
}
.blue-font{
    color: #22a4e5;
}
body{font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-weight: 300;}
