body{font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-weight: 300;}
.enterprise-index h1,.enterprise-index h2,.enterprise-index h3, .enterprise-index h4{margin: 0px;}
.enterprise-index .navbar{background: rgba(0,0,0,0);z-index: 2;padding-top: 15px;}
.nav .login-enterprise-btn a{padding-left: 15px;}

.navbar-nav .register-enterprise-btn a {
    display: inline-block;
    height: 33px;
    line-height: 0px;
    border: 1px solid #fff;
    margin-top: 8px;
    border-radius: 4px;
}
.pro-index-banner{width: 100%;height: 600px;background: url("../../images/enterprise/pro-banner.jpg") no-repeat center top;background-size:cover;position: relative;margin-top: -65px;}

.banner-main {
    width: 100%;
    text-align: center;
    height: 200px;
    position: absolute;
    top: 55%;
    margin-top: -100px;
}
.banner-main .p1{font-size: 52px;color: #fff;font-weight: 200;line-height: 52px;}
.banner-main .p2{font-size: 15px;color: #fff;font-weight: 200;margin-top: 25px;}
.banner-main a{display: inline-block;font-size: 16px;color: #fff;margin-top: 32px;height: 50px;line-height: 50px;border: 1px solid #fff;border-radius: 4px;}
.banner-main a{opacity: 0.9;padding:0px 47px;margin-left: 23px;position: relative;}
.banner-main a:hover, .banner-main a:visited, .banner-main a:active {text-decoration: none;}
.banner-main a:before{content: "";position: absolute;top: 0;right: 0px;width: 0;height: 100%;background-color: #1081de;z-index: -1;-webkit-transition: all .5s;transition: all .5s;border-radius: 4px;}
.banner-main a:hover {color: #fff;}
.banner-main a:hover:hover:before { width: 100%;}

.banner-main a i {
    font-size: 30px;
    margin-right: 12px;
    float: left;
    margin-top: 1px;
}
.pro-index-main{background: #fff;}
/*首页主体 first*/
.pro-index-main-first {
    width: 1068px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 140px;
    padding-top: 80px;
}
.pro-index-main-first h3{padding: 110px 0px 100px 0px;font-size: 18px;color: #333;font-weight: 300;}
.pro-index-main-first h3 span{font-size: 60px;color: #333;font-weight: 300;}
.bug-system{font-size: 28px;color: #333;font-weight: 300;}
.pro-index-main-first img{margin-top: -30px;}
.pro-index-main-first li{float: left;width: 14.2857%;margin-top: 36px;}
.pro-index-main-first li i{font-size: 50px;color: #1081de;}
.pro-index-main-first li p{font-size: 14px;color: #000;}
/*首页主体 second*/
.pro-index-main-second{width: 100%;background: #f7f7f7;}
.second-main{width:770px;margin: 0px auto;padding-bottom: 100px;}
.second-main h3{padding: 117px 0px 64px 0px;font-size: 36px;color: #333;font-weight: 300;text-align: center;}
.list-content,.step-go{float: left;}
.list-content{width: 229px;height: 185px;background: url("../../images/enterprise/pro-index_07.png") no-repeat;text-align: center;}
.list-content i{font-size: 50px;margin-top: 30px;color: #1081de;display: block;}
.list-content p{font-size: 14px;}
.step-go{margin-top: 74px;}
/*首页主体 third*/
.pro-index-main-third{width: 100%;background: #fafafa;}
.third-main{width: 1090px;margin: 0 auto;padding-bottom: 100px;color: #fff;}
.third-main-list ul,.third-main-list-bg{float: left;}
.third-main h3{padding: 100px 0px 53px 0px;font-size: 36px;color: #fff;font-weight: 300;text-align: center;}
.third-main-list .ul1,.third-main-list .ul2{text-align: right;margin-top: 78px;}
.third-main-list ul li {margin-bottom: 51px;}
.third-main-list  li .p1{font-size: 24px;}
.third-main-list  li .p2{font-size: 14px;}
.third-main-list .ul2{text-align: left;}
.third-main-list ul{padding-left: 0px;}
/*首页主体 forth*/
.pro-index-main-forth{background: #fff;padding-bottom: 100px;}
.pro-index-main-forth h3{padding: 97px 0px 60px 0px;font-size: 36px;color: #333;font-weight: 300;text-align: center;margin-top: 0px}
.forth-main{width: 1081px;margin: 0px auto;}
/*首页主体 sixth*/
.pro-index-main-sixth{width: 100%;height: 150px;background:url("../../images/enterprise/pro-index_34.png") no-repeat center top;background-size: cover;}
.sixth-main{width: 960px;margin: 0px auto;padding-top: 54px;}
.sixth-main-left{float: left;line-height: 50px;font-size: 24px;color: #fff;}
.input-box,.rigister{float: left;}
.sixth-main-right{float: right;}
.input-box {position: relative;width: 380px;height: 48px;line-height: 48px;background: #fff;border-radius: 5px;}
.input-box i{color: #1081de;font-size: 24px;padding: 3px 12px 0px 20px;float: left;}
.input-box input{width: 80%;border-style: none;background: rgba(0,0,0,0);color: #333;font-size: 16px;float: left;line-height: 46px;outline: none;}
.rigister{border-style: none;height: 48px;line-height: 48px;margin-left: 14px;padding: 0px 28px;color: #fff;font-size: 16px;background: #1081de;border-radius: 5px;}
.rigister:hover{background: #2088dd;}
.enterprise-index footer{background: #292d37;width: 100%;}
.enterprise-index footer p{margin: 0px;}
.enterprise-index .footer-main{width: 960px;margin: 0px auto;padding: 64px 0px 48px 0px;}
.enterprise-index .footer-main div{float: left;width: 25%; padding: 0px 20px;}
.enterprise-index .footer-main .p1{color: #fff;font-size: 18px;margin-bottom: 18px;}
.enterprise-index .footer-main a,.enterprise-index .footer-main .p2,.enterprise-index .footer-main .p3{color: #89919d;font-size: 14px;display: block;line-height: 28px;}
.enterprise-index .footer-main a:hover{color: #1081de;}
.enterprise-index .footer-main .p3{color: #fff;}
.enterprise-index .footer-main2{text-align: center;background: #21252e;padding: 55px 0px 60px 0px;}
.enterprise-index .footer-main2 .p1{font-size: 22px;color: #fff;}
.enterprise-index .footer-main2 .p1 img{font-size:50px;color: #fff;margin-right: 10px; width: 135px;height: 23px;}
.enterprise-index .footer-main2 .p2{line-height: 44px;color: #89919d;}
.social{position: relative;}
.social a:nth-of-type(2){margin:0px 20px;}
.social a i{ width: 50px;height: 50px;display: inline-block; line-height: 50px;text-align: center;border-radius: 25px;border: 1px solid #767d85;color: #767d85;}
.social a i:hover{border: 1px solid #1081de;color: #1081de;}
.erwei-pic {position: absolute;top: -130px;background-color: #fff;padding: 5px;border-radius: 5px;left: 50%;margin-left: -50px;display: none;}
.social a:nth-of-type(2):hover + .erwei-pic {display: block;}
@media (max-width: 768px){.banner-main a{margin-left: 0px;}.banner-main a i{margin-right: 1px;}.enterprise-index .navbar {background: rgba(0,0,0,0);z-index: 2;padding-top: 0px;background: #333;}.nav .login-enterprise-btn a {padding-left: 15px;}.pro-index-banner {width: 100%;height: 600px;background: url("../../images/enterprise/index-phone.jpg") no-repeat center top;background-size: cover; position: relative;
margin-top: -65px;}.pro-index-main-first,.second-main,.third-main,.forth-main,.sixth-main,.enterprise-index .footer-main{width: 100%;}
    .banner-main .p1 {font-size: 24px;line-height: 24px;}.pro-index-main-first h3 {padding: 60px 0px 20px 0px;font-size: 18px;}.pro-index-main-first h3 span {font-size: 22px;}
    .pro-index-main-first img,.bug-system{display: none;}.pro-index-main-first li { width: 33%;}.pro-index-main-first,.second-main{padding-bottom: 60px;}
    .second-main h3,.third-main h3{ padding: 60px 0px 50px 0px;font-size: 20px;}.list-content {width: 100%; background: url("../../images/enterprise/pro-index_07.png") no-repeat center top;}
    .third-main-list .ul1, .third-main-list .ul2 {
        margin-top: 0px;
        text-align: left;
    }
    .third-main-list ul li {
        float: left;
        width: 44%;
        margin: 0px 3% 30px 3%;
        border: 1px solid #ccc;
        height: 160px;
        padding: 20px 10px;
    }

    .third-main-list-bg {
        display: none;
    }

    .third-main-list li .p1 {
        font-size: 18px;
        margin-bottom: 12px;
        text-align: center;
        border-bottom: 1px solid #fff;
        padding-bottom: 7px;
    }

    .third-main, .pro-index-main-forth {
        padding-bottom: 60px;
    }

    .pro-index-main-forth h3 {
        padding: 60px 0px 50px 0px;
        font-size: 22px;
    }

    .forth-main img {
        float: left;
        width: 49%;
        height: auto;
    }
    .sixth-main-left {float: none;text-align: center;line-height: 50px;font-size: 18px;}.sixth-main {padding-top: 10px;}.input-box {width: 96%;margin: 0px 2%;}.pro-index-main-sixth {width: 100%;height: 188px;}
    .rigister {width: 96%;margin: 15px 2%;}.enterprise-index .footer-main{padding: 40px 5%;}.enterprise-index .footer-main div{width: 50%;margin-bottom: 20px;}.enterprise-index .footer-main2 .p2 {line-height: 28px;width: 96%; margin: 20px 0px;}
    .enterprise-control-center .footer-main{width: 100%;}
}
.pro-index-main-first li:nth-of-type(1) .list-img img{margin-top: 10px;}
.pro-index-main-first li:nth-of-type(2) .list-img img {margin-top: 0px;}
.pro-index-main-first li:nth-of-type(3) .list-img img{margin-top: 15px;}
.pro-index-main-first li:nth-of-type(4) .list-img img{margin-top: 5px;}
.pro-index-main-first li:nth-of-type(5) .list-img img{margin-top: 6px;}
.pro-index-main-first li:nth-of-type(6) .list-img img{margin-top: 8px;}
.pro-index-main-first li{width: 16.666%;}
.bug-system,.bug-system2{display: block;}
.bug-system{font-size: 36px;}
.bug-system2{font-size: 18px;color: #333;padding: 18px 0px 64px 0px;}
/*.pro-index-main-first li .list-img{height: 96px;}*/
.pro-index-main-first li p{margin-top: 20px;}
.pro-index-main-first {padding: 80px 0px 83px 0px;}
.team-help{width: 1180px;margin: 0px auto;}
.team-help h3{font-size: 36px;color: #333333;padding:90px 0px 73px 0px;text-align: center;width: 100%; font-weight: 300;}
.team-help-main{width: 1180px;margin: 0 auto;position: relative;height: 632px;}
.team-help-main .img1 { position: absolute;left: 170px; bottom: 0px;z-index: 5;display:block;width:842px;height:592px;background-image:url("../../images/bug-management/tdxz1_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/tdxz1_1x.png") 1x,url("../../images/bug-management/tdxz1_2x.png") 2x);background-repeat:no-repeat;}
.team-help-main .img2 {position: absolute;left: -20px;bottom: 0px; z-index: 4;opacity: 0;display:block;width:797px;height:398px;background-image:url("../../images/bug-management/tdxz2_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/tdxz2_1x.png") 1x,url("../../images/bug-management/tdxz2_2x.png") 2x);background-repeat:no-repeat;}
.team-help-main .img3 {position: absolute;right: -20px;bottom: 0px; z-index: 4;opacity: 0;display:block;width:797px;height:398px;background-image:url("../../images/bug-management/tdxz3_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/tdxz3_1x.png") 1x,url("../../images/bug-management/tdxz3_2x.png") 2x);background-repeat:no-repeat;}
.team-help-main-animate .img2{animation: myfirst 2s;-moz-animation: myfirst 2s;-webkit-animation: myfirst 2s;-o-animation: myfirst 2s;opacity: 1;}
@keyframes myfirst
{
    0%{opacity: 0;left: 200px;}
    100%{opacity: 1;left:-20px;}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%{opacity: 0;left: 200px;}
    100%{opacity: 1;left:-20px;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0%{opacity: 0;left: 200px;}
    100%{opacity: 1;left:-20px;}
}

@-o-keyframes myfirst /* Opera */
{
    0%{opacity: 0;left: 200px;}
    100%{opacity: 1;left:-20px;}
}

.team-help-main-animate .img3{animation: mysecond 2s;-moz-animation: mysecond 2s;-webkit-animation: mysecond 2s;-o-animation: mysecond 2s;opacity: 1;}
@keyframes mysecond
{
    0%{opacity: 0;right: 200px;}
    100%{opacity: 1;right:-20px;}
}

@-moz-keyframes mysecond /* Firefox */
{
    0%{opacity: 0;right: 200px;}
    100%{opacity: 1;right:-20px;}
}

@-webkit-keyframes mysecond /* Safari 和 Chrome */
{
    0%{opacity: 0;right: 200px;}
    100%{opacity: 1;right:-20px;}
}

@-o-keyframes mysecond /* Opera */
{
    0%{opacity: 0;right: 200px;}
    100%{opacity: 1;right:-20px;}
}

.sc-bug{width: 100%;height: 700px;background:#fafafa;}
#content{width: 1180px;margin: 0px auto;padding-top: 124px;}
#output{width: 762px;height: 502px;overflow: hidden;float: left;}
#output li{display: none;}
.tabs-list{float: left;margin:110px 0px 0px 82px;}
.tabs-list p{font-size: 30px;color: #333;}
#tabs{margin-top: 30px;}
#tabs li{margin-top: 15px;}
#tabs li a{font-size: 18px;color: #333;}
#tabs li span{float: left;}
#tabs li .span1{width: 12px;height: 12px;background:rgba(0,0,0,0);border-radius: 50%;margin: 5px 10px 0px 0px;border: 1px solid #ccc;}
#tabs .current .span1{background:#00BFFF;border: 1px solid #00BFFF;}
#tabs .current .span2{color:#18BFF7;}

@media (max-width: 768px){.pro-index-main-first li {width: 100%;}#content{width: 100%;}#output {width:100%;height:211px;overflow: hidden;float:none;}
    #output li img{display: block;width: 100%;height: auto;}.team-help{display: none;}.bug-system {font-size: 20px;width: 90%;margin: 0px 5%;}.pro-index-main-first{ padding: 50px 0px;}
    .bug-system2 {font-size: 13px; color: #333;padding: 18px 10px 30px 10px;}.pro-index-main-first img{display: block;margin: 0 auto;}.pro-index-main-first li p {margin-top: 10px;}
    .sc-bug {width: 100%;height: auto;background:#fafafa;padding-bottom: 30px;background-size: none;}#content {margin: 0px auto; padding-top: 20px;}
    #output li {display: none;width: 100%; height: 100%;background-size: cover;}.tabs-list { float:none;margin: 110px 0px 0px 82px;}.tabs-list {float: none;margin: 30px 0px 0px 20px;}
    .tabs-list p {font-size: 20px;color: #fff;}#tabs {margin-top: 10px;}#tabs li a {font-size: 14px;}#tabs li .span1 {width: 8px;height: 8px;background: #fff;border-radius: 50%;margin: 5px 10px 0px 0px; }}


/*首页改版08 25*/
.third-main h3,.third-main-list li p{color: #333;}
.third-main-list-bg{width: 580px;height: 440px;background-image:url("../../images/bug-management/tq_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/tq_1x.png") 1x,url("../../images/bug-management/tq_2x.png") 2x);background-repeat:no-repeat;}
.third-main h3{padding: 90px 0px 100px 0px;}
.team-help h3{padding: 80px 0px 70px 0px;}
.third-main-list .ul1, .third-main-list .ul2{margin-top: 9px;}
@media (min-width: 768px) {.third-main-list .ul1, .third-main-list .ul2{margin-top: 9px;width: 253px;}}
.third-main{padding-bottom: 74px;}
.team-help-main { margin: 0 auto -15px;height:592px;}
.xmgl .list-img-box{display:block;width: 98px;height: 77px;background-image:url("../../images/bug-management/xmgl_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/xmgl_1x.png") 1x,url("../../images/bug-management/xmgl_2x.png") 2x);background-repeat:no-repeat; margin: 18px auto; }
.zdsb .list-img-box{display:block;width: 98px;height: 96px;background-image:url("../../images/bug-management/zdsb_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/zdsb_1x.png") 1x,url("../../images/bug-management/zdsb_2x.png") 2x);background-repeat:no-repeat; margin: 0px auto; }
.zzbug .list-img-box{display:block;width: 98px;height: 66px;background-image:url("../../images/bug-management/zzbug_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/zzbug_1x.png") 1x,url("../../images/bug-management/zzbug_2x.png") 2x);background-repeat:no-repeat; margin: 25px auto; }
.tdxz .list-img-box{display:block;width: 98px;height: 87px;background-image:url("../../images/bug-management/tdxz_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/tdxz_1x.png") 1x,url("../../images/bug-management/tdxz_2x.png") 2x);background-repeat:no-repeat; margin: 10px auto; }
.cygl .list-img-box{display:block;width: 98px;height: 83px;background-image:url("../../images/bug-management/cygl_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/cygl_1x.png") 1x,url("../../images/bug-management/cygl_2x.png") 2x);background-repeat:no-repeat; margin: 13px auto; }
.qxgl .list-img-box{display:block;width: 100px;height: 79px;background-image:url("../../images/bug-management/qxgl_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/qxgl_1x.png") 1x,url("../../images/bug-management/qxgl_2x.png") 2x);background-repeat:no-repeat; margin: 18px auto; }
.bkfx-li{display:block;width:762px;height:502px;background-image:url("../../images/bug-management/bkfx_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/bkfx_1x.png") 1x,url("../../images/bug-management/bkfx_2x.png") 2x);background-repeat:no-repeat;}
.yyy-li{display:block;width:762px;height:502px;background-image:url("../../images/bug-management/yyy_1x.png");
    background-image: -webkit-image-set(url("../../images/bug-management/yyy_1x.png") 1x,url("../../images/bug-management/yyy_2x.png") 2x);background-repeat:no-repeat;}
@media (max-width: 768px){.second-main h3, .third-main h3 {padding: 60px 0px 50px 0px;font-size: 20px;}}

.enterprise-index .navbar-default .navbar-nav > .open > a{background: rgba(0,0,0,0);}
.dropdown-menu-right{margin: 0px;padding: 0px;}
.enterprise-index .navbar-nav > li > .dropdown-menu a{font-size: 13px;color: #333;width: 100%;height: 100%;display: block;}
.enterprise-index .navbar-nav > li > .dropdown-menu a:visited, .enterprise-index .navbar-nav > li > .dropdown-menu a:active, .enterprise-index .navbar-nav > li > .dropdown-menu a:hover {color: #333;text-decoration: none;}
.enterprise-index .navbar-nav >.dropdown-toggle a:visited,.enterprise-index .navbar-nav >.dropdown-toggle a:active,.enterprise-index .navbar-nav >.dropdown-toggle a:hover{color: #fff;}
