body {
    font-size: 13px;
    line-height: 1.42857143;
    font-weight: 300;
    font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
}
.p-30{
    padding: 30px;
}
.tac{
    text-align: center;
}
.module_list_wrapper .module-item{
    border-top: 1px solid #f0f0f0;
    padding: 12px 20px 11px 10px;
}
.module_list_wrapper .module-item:hover,.module_list_wrapper .module-item:focus{
    background: #F8FCFF;
}
.module_list_wrapper .opening .module-item.main{
    background-color: #FCFCFC;
}
.module_list_wrapper .module-item.main{
    cursor: pointer;
}
.module_list_wrapper .module-item.main.editing{
    background-color: #FFFFFF;
}
.module_list_wrapper .opening .module-item.editing{
    background-color: #FCFCFC;
}
.module_list_wrapper .opening .module-item.editing .title input{
    background-color: #FFFFFF;
}
.module_list_wrapper .module-item.main .adjust-layout{
    padding-right: 0;
}
.module_list_wrapper .module-item.main .title {
    padding-left: 40px;
}
.module_list_wrapper .module-item.main .arrow-icon {
    height: 36px;
    line-height: 36px;
    width: 20px;
    text-align: center;
    position: absolute;
    left: 5px;
    top: -1px;
    cursor: pointer;
    padding: 0;
}
.module_list_wrapper .opening .module-item.main .arrow-icon{
    transform: rotate(90deg);
}
.module_list_wrapper .module-item.main .arrow-icon .iconfont{
    font-size: 13px;
    position: relative;
    top: 0px;
}
.break-word {
    word-break: break-all;
}
.module_list_wrapper .module-item .action {
    text-align: right;
    padding-right: 0;
    padding-top: 9px;
}
.module_list_wrapper .module-item .action .action-area a {
    margin-left: 15px;
    cursor: pointer;
}
.module_list_wrapper .sub-module-container {
    background: #fcfcfc;
    display: none;
}
.module_list_wrapper .opening .sub-module-container{
    display: block;
}
.module_list_wrapper .sub-module-container .module-item {
    padding: 0 20px 0 40px;
    /*border: 1px;*/
}
.module_list_wrapper .sub-module-container .module-item:first-child .adjust-layout {
    border: 0;
}
.module_list_wrapper .sub-module-container .module-item .adjust-layout {
    padding: 12px 0;
}
.module_list_wrapper .sub-module-container .module-item .adjust-layout .title {
    padding-left: 23px;
}
.module_list_wrapper .sub-module-container .module-item .adjust-layout .action {
    padding-top: 9px;
}
.module_list_wrapper .sub-module-container .module-item .adjust-layout .title input,
.module_list_wrapper .main.module-item .adjust-layout .title input{
    border: none;
    padding: 0px;
    width: 430px;
    height: 36px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.module_list_wrapper .title input:focus{
    border-color: #66afe9!important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.module_list_wrapper .sub-module-container .module-item.editing .adjust-layout .title input,
.module_list_wrapper .main.module-item.editing .adjust-layout .title input{
    border: 1px solid #cccccc;
    padding: 9px 10px;
}
.module_list_wrapper .module-item .adjust-layout .title .save-text{
    color: #1081de;
    font-size: 22px;
    position: relative;
    top: 3px;
    margin-left: 5px;
    cursor: pointer;
    display: none;
}
.module_list_wrapper .module-item.editing .adjust-layout .title .save-text{
    display: inline-block;
}
.cygl .btn-sm{
    padding: 4px 11px;
    margin: 11px 20px 0 0;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
    border-radius: 2px;
    color: #666;
}
.cygl .btn-sm:hover,.cygl .btn-sm:visited,.cygl .btn-sm:active,.cygl .btn-sm:focus{background: #fff;color: #666;}
.cygl .btn-sm:hover{
    border-color: #b3b3b3;
    color: #333;
}
.cygl .btn-sm:focus{
    border-color: #b3b3b3;
    /*color: #666;*/
    background-color: #FFFFFF;
    outline: none;
}
.modal-body{
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}
.modal-body .content-form{
    display: inline-block;
    margin-bottom: 21px;
}
.modal-body .content-form:last-child{
    margin-bottom: 0px;
}
.modal-body .content-form .form-label{
    margin-right: 28px;
    float: left;
    padding-top: 9px;
    text-align: right;
}
.vm_alert .modal-body .content-form .form-label{
    width: 44px;
}
.modal-body .content-form .adding-name{
    float: left;
    width: 340px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    padding: 9px 10px;
}
.modal-body .content-form .adding-name[disabled]{
    background-color: #eeeeee;
    color: #999999;
}
