.bugmanagement-nav{background: #252C34; position: relative;}
.bugmanagement-nav .navbar-default{width: 1180px;margin: 0 auto;background-color: #252C34;border: none;}
.bugmanagement-nav .navbar-default .navbar-nav>.active>a{background: #3F454D;}
.bugmanagement-nav .navbar-default .navbar-nav>li>a {color: #fff;font-size: 14px;}
.apple-icon{padding: 0px 5px;}
.arrow-icon{padding: 0px 5px 0px 20px;}
.bugmanagement-nav .navbar-default .navbar-nav>li>a:hover,.bugmanagement-nav .navbar-default .navbar-nav>li>a:focus{color: #1081DE;}
.bugmanagement-nav .dropdown-menu{background: #FFFFFF; border: 1px solid #DDDDDD;box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.12);border-radius: 2px;padding: 0px;}
.bugmanagement-nav .dropdown-menu a{font-size: 13px;color: #333333;width: 100%;height: 100%;display: block;}
.bugmanagement-nav .dropdown-menu a:visited{text-decoration: none;}
.dropdown-menu-left{min-width: 220px;}
.bugmanagement-nav .dropdown-menu li{padding: 0px;}
.dropdown .dropdown-menu-left li,.dropdown-menu-right ul li{height: 50px;line-height: 50px;border-bottom: 1px solid #EBEBEB;}
.dropdown-menu-left li:hover,.dropdown-menu-right ul li:hover{background: #E6F4FF;}
.dropdown-menu-left img{float: left;width: 36px;height: 36px;margin: 7px 10px 0px 10px;border-radius: 6px;}
.dropdown-menu-left .app-name{float: left;width: 128px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dropdown-menu-left i{float: left;}
.dropdown-menu-left #nav_project_ul{max-height: 310px;overflow-y: scroll;}
.add-app{line-height: 50px;}
.add-app img {margin-right: 10px;}
.bugmanagement-nav .dropdown-menu-left .add-app a{font-size: 13px; color: #1081DE;}
.navbar-nav-right{float: right;}
.bugmanagement-nav .navbar-default .navbar-nav>.open>a{background: #3F454D;}
.navbar-nav-right .arrow-icon {padding: 0px 5px 0px 10px;position: relative;  top: 1px;}
.dropdown-menu-right ul li a{font-size: 13px;color: #333;padding-left: 20px;}
.dropdown-menu-right{min-width: 181px;}
.bugmanagement-nav .navbar{padding-left: 0px;}
@media (max-width: 768px){.bugmanagement-nav{overflow: hidden;}.bugmanagement-nav .navbar-default{width: 100%;}.dropdown-menu-left i {float: right;margin-right: 10px;}.dropdown-menu-left .app-name{width: 70%;}
    .bugmanagement-nav .navbar-nav .open .dropdown-menu{background: #fff;}.navbar-nav-right {float: left;width: 108%;}.bugmanagement-nav .navbar-collapse{border-top: none;}.bugmanagement-nav .navbar{padding-left: 0px;}
    .bugmanagement-nav .navbar-toggle {margin-top: 8px;}}
/*二级导航*/
.bugmanagement-nav-second{width: 100%;background: #FFF;box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.08);}
.personal-nav{box-shadow: 0px 0px 0px rgba(0,0,0,0);}
.personal-nav ul{float: left;}
.personal-nav {width: 1180px;height: 50px;line-height: 50px;background: #fff;margin: 0 auto;overflow: hidden;}
.personal-nav ul li {float: left; padding: 0 15px;margin-right: 23px;}
.personal-nav ul li a{font-size: 14px; color: #666;}
.personal-nav ul li a:hover {color: #3098F2;}
.personal-nav ul li a i{margin-right: 6px;}
.personal-nav ul .active{border-bottom: 2px solid #1081DE;height: 50px;}
.personal-nav ul .active a{font-size: 14px; color: #1081DE;}
.new-create{float: right;background: #1081DE;box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);border-radius: 2px;width: 74px;height: 28px;line-height: 28px;
    text-align: center;font-size: 12px;color: #FFF;margin: 12px 20px 0px 0px;}
.new-create:hover {background-color: #3098F2;color: #fff;text-decoration: none;}
@media (max-width: 768px){.personal-nav{width: 100%;}.personal-nav ul li {float: left; padding:0px; margin-right: 16px;}.personal-nav ul li a{font-size: 12px; color: #666;}.personal-nav ul .active a{font-size: 142x; color: #1081DE;}
    .personal-nav ul {float: none;}.new-create {float: none;margin: 15px auto;display: block;}.interesting,.line{display: none;}}
/*新增两种导航样式*/
.navbar-brand img{display: block;width: 135px;height:23px; }
.bugout-navbar-brand img{display: block;width: 118px;height:30px; }
.navbar-brand{padding: 14px 15px 15px 15px;}
.bugout-navbar-brand{padding: 10px 15px 15px 15px;}
.navbar-brand,.line,.interesting{float: left;}
.line{width: 1px;height: 27px;background:#3E4A57; margin: 11px 15px;}
.interesting{font-size: 14px;color: #FFF;line-height: 50px;}
.interesting:hover{color: #1081DE;}
body{font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-weight: 300;}
