.sdk_doc {
    font:14px "PingFang SC","Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    color: #333;
    line-height:1.5em;
    background-color: white;
    padding: 0.7em;
    margin-left: 30px;
}
.sdk_doc p {
    margin:1em 0;
    line-height:1.5em;
}
.sdk_doc table {
    font-size:inherit;
    font:100%;
    margin:1em;
}
.sdk_doc table th{border-bottom:1px solid #bbb;padding:.2em 1em;}
.sdk_doc table td{border-bottom:1px solid #ddd;padding:.2em 1em;}
.sdk_doc input[type=text],input[type=password],input[type=image],textarea{font:99% helvetica,arial,freesans,sans-serif;}
.sdk_doc select,option{padding:0 .25em;}
.sdk_doc optgroup{margin-top:.5em;}
.sdk_doc pre,code{font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;}
.sdk_doc pre {
    margin:1em 0;
    font-size:12px;
    background-color:#FAFAFA;
    border:1px solid #ddd;
    padding:5px;
    line-height:1.5em;
    color:#444;
    overflow:auto;
    max-width: 800px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;border-radius:3px;
}
.sdk_doc pre code {
    padding:0;
    font-size:12px;
    background-color:#FAFAFA;
    color:#444;
    border:none;
}
.sdk_doc code {
    font-size:12px;
    background-color:#E6F4FF;
    color:#3098F2;
    padding:0 .2em;
    border:1px solid #E0EEF9;
    border-radius: 3px;
}
.sdk_doc img{border:0;max-width:100%;}
.sdk_doc abbr{border-bottom:none;}
.sdk_doc a{color:#3098F2;text-decoration:none;}
.sdk_doc a:hover{text-decoration:underline;}
.sdk_doc a code,a:link code,a:visited code{color:#25b3fa;}
.sdk_doc h2,h3{margin:1em 0;}
.sdk_doc h1,h2,h3,h4,h5,h6{border:0;}
.sdk_doc h1{font-size:170%;border-top:4px solid #aaa;padding-top:.5em;margin-top:1.5em;}
.sdk_doc h1:first-child{margin-top:0;padding-top:.25em;border-top:none;}
.sdk_doc h2{font-size:150%;margin-top:1.5em;border-top:4px solid #e0e0e0;padding-top:.5em;}
.sdk_doc h3{margin-top:1em;}
.sdk_doc hr{border:1px solid #ddd;}
.sdk_doc ul{margin:1em 0 1em 2em;}
.sdk_doc ol{margin:1em 0 1em 2em;}
.sdk_doc ul li,ol li{margin-top:.5em;margin-bottom:.5em;}
.sdk_doc ul ul,ul ol,ol ol,ol ul{margin-top:0;margin-bottom:0;}
.sdk_doc blockquote{margin:1em 0;border-left:5px solid #ddd;padding-left:.6em;color:#555;font-size: 14px;}
.sdk_doc dt{font-weight:normal;margin-left:1em;}
.sdk_doc dd{margin-left:2em;margin-bottom:1em;}
.sdk_doc sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}