
/**成员右侧样式**/
.staff-table thead td{font-size: 13px;color: #333;height: 40px;line-height: 20px;background: #FCFCFC;border-bottom:1px solid #EBEBEB;border-top:1px solid #EBEBEB; padding: 10px 0px; }
.staff-table thead td:nth-of-type(3){padding-left: 0px;}
.staff-table tbody td{height: 100px;border-bottom:1px solid #EBEBEB;margin: 0px 20px;font-size: 14px;color: #333;}
.staff-table thead td:first-child {text-align: left;padding-left: 30px;}
.td-list-main{margin-left: 30px;}
.td-list-left{width: 30px;float: left;}
.td-list-left img{display: inline-block;width: initial;height: initial;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.td-list-right{float: left;margin: 10px 0px 0px 20px;}
.project-name{float: left;margin: 2px 0px 0px 8px;}
.td-list-right p{ font-size: 14px;color: #333333;line-height: 20px; text-align: left;width: 138px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.input-radio-show,.input-radio:checked+.input-radio-show,.input-checkbox-show,.input-checkbox:checked+.input-checkbox-show{display: inline-block;width: 15px;height: 15px; background: url("../../images/bug-management/img-sprit.png") no-repeat;background-size:500px 500px;background-position:0px -57px;margin-right: 5px; }
.bugmanagement .checkbox-inline{margin: 0px 25px 0px 0px;}
.checkbox-inline{padding-left: 0px;}
.input-radio:checked+.input-radio-show{background-position:0px -86px;}
.staff-table a{font-size: 14px;color: #22a4e5;}
.staff-table a:hover{color: #25b3fa;}
.staff-table a.delete{margin: 25px;}
.staff-table a.copy{margin-left: 10px}
.staff-table .not-allowed-a{font-size: 13px;color: #999; cursor:not-allowed;}
.staff-table .not-allowed-a:hover{color: #999;}
.staff-table tr:hover{background: #F8FCFF;}
.staff-table tbody td i{margin-left: 17px;}
/**邀请成员**/
.invite-staff{margin: 30px 20px 0px 20px;padding-bottom: 30px;}
.invite-staff h3{font-size: 14px;color: #333;line-height: 20px;margin-bottom: 20px;}
.invite-staff textarea{width: 100%;height: 100px;border: 1px solid #CCC;border-radius: 2px;padding: 10px 15px;outline: none;}
.invite-pour{margin-top: 20px;}
.invite-pour-left,.invite-pour-middle{float: left;width: 185px;margin-right: 38px;}
.invite-pour-right{float: right;}
.invite-pour .testin-select-set{cursor: pointer; border: none;    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075); box-shadow: inset 0 0px 0px rgba(0,0,0,.075);background: none;}
.testin-select-set i{font-size: 8px;color: #666;margin-left: 10px;}
.invite-pour-left .testin-select-hidden,.invite-pour-middle .testin-select-hidden{height: auto;display: none;position: absolute;}
.testin-select-list{background: #FFFFFF;border: 1px solid #DDDDDD;box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.12);border-radius: 2px;}
.testin-select-list i{font-size: 13px;color: #666;margin-right: 5px;}
.invite-pour .testin-select-list li {line-height: 36px;padding: 0px 5px;height: 36px;}
.testin-select-list li:hover{background: #E6F4FF;color: #333;}
.testin-select-list li i{float: left;}
.testin-select-list li span{display: inline-block;float: left;}
.testin-select-list li .span1{display: inline-block;width: 92px;overflow: hidden;text-overflow: ellipsis;}
.user-logo{display: block;width: 20px;height: 20px;float: left;margin: 8px 5px 0px 5px;}
.input-checkbox-show{background-position: 0px -50px;}
.checkbox-inline span{float: left;}
.bugmanagement .testin-select-list .checkbox-inline{margin: 0px;}
.span-user2{ width: 66px;margin-left: 8px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.invite-pour .input-checkbox-show {background-position: 0px 1px; margin-top: 9px;}
.input-checkbox:checked+.input-checkbox-show {background-position:0px -27px;}
.invite-pour-right{float: right;}
.invite-pour-right a{display:block;background: #1081DE;box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);border-radius: 2px;width:88px;height: 36px;line-height: 36px;text-align: center;
    font-size: 14px;color: #FFF;}
.invite-pour-right a:hover{background-color: #3098F2;color: #fff;text-decoration: none;}
.mr .input-checkbox-show{background-position: 0px 1px;}
.mr .staff-table tbody td{text-align: center;}
.mr .staff-table thead td{width: 5%;text-align:center;padding-left: 0px;}
.mr .staff-table thead td:nth-of-type(1){padding-left: 40px;width: 30%;text-align:left;}
.mr .staff-table thead td:nth-of-type(8){padding-right: 8px;}
.mr .staff-table tbody td:nth-of-type(1){text-align:left;}
.project_icon img{border-radius: 12px;}


.invite-pour-top-box h3{float: left;}
.invite-pour-top-box .invite-pour{float: right;margin-top: -9px;}
.invite-pour-top-box .invite-pour-left,.invite-pour-top-box .invite-pour-middle{margin-right: 0px;margin-left: 0px;}
.staff-table .checkbox-inline{padding-left: 0px;}
.bugmanagement .staff-table .checkbox-inline { padding-left: 0px; margin: 0px;}

.bugmanagement-right.no-left{
    width: 100%;
    margin: 20px 0px 0px 0px;
    float: none;
}
.p-r-20{
    padding-right: 20px;
}
.m-l-20{
    margin-left: 20px!important;
}
.p-t-20{
    padding-top: 20px!important;
}
.m-t-0{
    margin-top: 0!important;
}
.cygl.p-r-20 a{
    margin-right: 0;
}
.select-out{
    width: 200px;
    float: right;
    height: 28px;
}
.select-out .testin-select{
    height: 100%;
    font-size: 12px;
    color: #333333;
}
.select-out .testin-select-set{
    height: 28px;
    padding: 0px 20px 0px 12px;
    line-height: 28px;
    font-size: 12px;
}
.select-out .testin-select-list li{
    line-height: 28px;
}
.testin-select-list li:hover{
    color: #ffffff;
}
.cygl .select-out{
    margin-top: 11px;
}
.cygl .right-span{
    float: right;
    margin-right: 35px;
    font-size: 13px;
}
.ab-content{
    border-bottom: 1px solid #ebebeb;
    padding: 20px;
}
.ab-content.list{
    padding: 40px 20px 40px;
}
.ab-content.list .ab-tab .testin-select{
    background-color: #ffffff;
    margin-left: 10px;
    margin-top: 5px;
}
.ab-content.list .ab-tab .testin-select
.ab-content.list .ab-tab .pull-left .testin-select{
    margin-left: 0;
}
.ab-content.list .ab-tab .testin-select:first-child{
    margin-left: 0;
}
.ab-tab{
    height: 40px;
    font-size: 13px;
    background-color: #FAFAFA;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    line-height: 38px;
    padding: 0 20px;
    position: relative;
}
.tab-btn-group{
    font-size: 12px;
    border-radius: 2px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -74px;
}
.tab-btn-group.lg{
    margin-left: 215px;
    left: 0px;
}
.tab-btn-group .tab-btn-l,.tab-btn-group .tab-btn-r{
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.tab-btn-l{
    width: 74px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #333333;
}
.tab-btn-r{
    width: 74px;
    background-color: #1081de;
    color: #ffffff;
}
.tab-btn{
    width: 74px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #333333;
    display: block;
    float: left;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
.tab-btn:hover{
    color: #333333;
}
.tab-btn.active{
    background-color: #1081de;
    color: #ffffff;
    border: 1px solid #1081de;
}
.tab-btn-group .tab-btn{
    border-right: none;
}
.tab-btn-group .tab-btn:first-child{
    border-radius: 2px 0px 0px 2px;
}
.tab-btn-group .tab-btn:last-child{
    border-right: 1px solid #cccccc;
    border-radius: 0px 2px 2px 0px;
}
.pull-right .tab-btn{
    border-right: none;
}
.pull-right .tab-btn:first-child{
    border-radius: 2px 0px 0px 2px;
}
.pull-right .tab-btn:last-child{
    border-right: 1px solid #cccccc;
    border-radius: 0px 2px 2px 0px;
}
.ab-chart-area{

}
.chart-text{
    font-size: 12px;
    margin: 20px;
}
.chart-text .text-item{
    margin-right: 40px;
}
.text-item:after{
    content: "|";
    position: relative;
    left: 22px;
}
.chart-text .text-item:last-child:after{
    content: "";
}
.ab-chart-main{
    letter-spacing: -0.5em;
    white-space: nowrap;
    overflow: hidden;
}
.ab-chart-main .chart-item{
    width: 290px;
    height: 230px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 10px;
    vertical-align: top;
    margin-bottom: 18px;
}
.ab-chart-main .chart-item:first-child{
    margin-left: 0;
}
.nicescroll-rails{
    background-color: #ebebeb;
}
.chart-caption{
    font-size: 12px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 20px;
}
.chart-caption .version-span{
    margin-left: 25px;
}
.chart-caption .version-span:first-child{
    margin-left: 0;
}
.original-color:before{
    background-color: #1081de;
}
.green-color:before{
    background-color: #00c185;
}
.yellow-color:before{
    background-color: #ffc402;
}
.version-span:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: 1px;
    margin-right: 8px;
}
.ab-table{
    font-size: 12px;
}
.ab-table thead tr{
    background-color: #FAFAFA;
}
.ab-table tr th{
    height: 40px;
    line-height: 40px;
    color: #666666;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}
.ab-table tr td{
    height: 50px;
    line-height: 50px;
}
.ab-table tr td:first-child,.ab-table tr th:first-child{
    padding-left: 20px;
}
.ab-list-area{
    margin-top: 20px;
}
.ab-table tbody tr{
    border-bottom: 1px solid #ebebeb;
}
.data-td span:first-child{
    margin-right: 20px;
}
.red-data{
    color: #EB5A3C;
    margin-right: 0!important;
}
.chart-box{
    width: 100%;
    height: 295px;
}
.enterprise-staff-table tbody.high-td td{
    height: 90px;
}
.enterprise-staff-table tbody.high-td td:first-child{
    padding-left: 30px;
}
.first-sub{
    font-size: 12px;
}
.first-sub span{
    margin-left: 20px;
}
.first-sub span:first-child{
    margin-left: 0;
}
.operation-time{
    font-size: 12px;
    margin-left: 10px;
}
.operation-status:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    border-radius: 50%;
}
.clone{
    margin-left: 25px;
}
.ab-read{
    margin-left: 25px;
}
#page-type2 .ab-list-area{
    margin-top: 0px;
}
#page-type2 .ab-table thead tr{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.title-span{
    font-size: 13px;
    float: right;
    margin-right: 10px;
}
.alert-tip{
    background-color: #FFFDE3;
    border: 1px solid rgba(255,190,77,0.30);
    border-radius: 2px;
    height: 40px;
    margin: 20px 0;
    font-size: 13px;
    color: #EB5A3C;
    line-height: 38px;
    text-align: center;
    position: relative;
}
.alert-tip-blue{
    background: #E0F5FF;
    border: 1px solid rgba(188,231,241,0.98);
    border-radius: 2px;
    margin: 20px 0;
    font-size: 13px;
    color: #31708f;
    text-align: center;
    height: auto;
    line-height: 20px;
    padding: 10px 20px;
}
.alert-tip-blue a{
    cursor: pointer;
}
.alert-tip img{
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.alert-tip .pull-right{
    margin-right: 20px;
}
.alert-tip .in-c{
    position: absolute;
    left: 50%;
    margin-left: -77px;
}
.ab-chart-area2{
    height: 202px;
}
.save-btn{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #1081DE;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);
    border-radius: 2px;
    width: 88px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
}
.save-btn:hover{
    background-color: #3098F2;
    color: #fff;
    text-decoration: none
}
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}
.enterprise-staff-table tbody.h50td td:first-child{
    padding-left: 30px;
}
.ab-content .commit_box_step{
    padding: 20px 30px 25px!important;
}
.ab-panel{
    margin: 20px 0 0;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: -0.5em;
    /*width: 1140px;*/
}
.item-type{
    width: 228px;
    /*float: left;*/
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    vertical-align: top;
}
.item-type.type1{
    width: 226px;
}
.panel-head{
    height: 90px;
    line-height: 90px;
    text-align: center;
}
.panel-item-box{
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-top: none!important;
}
.panel-body{
    padding: 0;
}
.item-type.type1 .panel-head{
     background: #E0F5FF;
     border: 1px solid #BDE7F1;
}
.item-type.type2 .panel-head{
    background: #f5f5f5;
    border: 1px solid #EBEBEB;
    border-left: none;
}
.item-type.type3 .panel-head{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-left: none;
}
.item-type.type1 .panel-body .panel-item-box{
    background: rgba(224,245,255,0.25);
    border: 1px solid #BDE7F1;
}
.item-type.type2 .panel-body .panel-item-box{
    background: rgba(250,250,250,0.30);
    border: 1px solid #EBEBEB;
    border-left: none;
}
.item-type.type3 .panel-body .panel-item-box{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-left: none;
}
.span-sm{
    font-size: 12px;
}
.add-icon{
    margin-right: 10px;
    position: relative;
    top: -1px;
}
.panel-head.for-add{
    cursor: pointer;
}
.panel-item-box.for-add{
    cursor: pointer;
}
.ab-panel-add{
    /*display: none;*/
    background: rgba(224,245,255,0.25);
    border: 1px solid #BDE7F1;
    height: auto;
}
.ab-panel-add .tab-content{
    margin-top: 28px;
}
.adding .ab-panel-add{
    display: block!important;
}
.adding .panel-item-box.for-add{
    display: none;
}
.adding .panel-body .panel-item-box{
    border-bottom: none!important;
}
.adding .nicescroll-rails{
    display: none!important;
}
.ab-panel-add .panel-tab{
    margin-top: 20px;
}
.ab-panel-add .nav-tabs{
    border-bottom: none;
    overflow: hidden;
    display: inline-block;
}
.ab-panel-add .nav-tabs .tab-btn{
    width: 102px;
    height: 28px;
    font-size: 12px;
}
.form-item{
    /*overflow: hidden;*/
    float: left;
}
.form-item .form-control{
    width: 350px;
    height: 36px;
    border-radius: 2px;
    float: left;
}
.form-item span{
    float: left;
    margin-top: 8px;
    margin-right: 20px;
    font-size: 13px;
    width: 67px;
    text-align: right;
}
.form-item .select-out{
    float: left;
    width: 160px;
    height: 36px;
    margin-left: 30px;
}
.form-item .select-out .testin-select-set{
    height: 36px;
    line-height: 36px;
}
.form-item .select-out .testin-select{
    border: none;
    background-color: #ffffff;
}
#tab1 .tab-form{
    height: 95px;
}
#tab1 .save-btn{
    width: 74px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    margin-right: 10px;
}
#tab2 .save-btn{
    width: 74px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    margin-right: 10px;
    margin-top: 17px;
}
.variable-area{
    overflow: hidden;
    padding-left: 6px;
}
.variable-box{
    width: 122px;
    height: 81px;
    background: #FFFFFF;
    border: 1px solid #dddddd;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.05);
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-left: 15px;
}
.variable-box:first-child{
    margin-left: 0;
}
.variable-box .v-main{
    font-size: 14px;
    color: #333333;
    text-align: left;
}
.variable-box .v-sub{
    font-size: 12px;
    color: #666666;
    text-align: left;
}
.variable-content{
    overflow: hidden;
    display: inline-block;
    margin-top: 22px;
}
.add-icon2{
    margin-left: 14px;
    margin-top: 6px;
}
.panel-item-box.add-version{
    height: 180px;
    display: none;
    border-top: 1px solid #ebebeb !important;
    padding: 20px 20px 20px;
}
.panel-item-box.add-version input{
    margin-top: 20px;
    height: 28px;
}
.panel-item-box.add-version input:first-child{
    margin-top: 0;
}
.panel-item-box.add-version .btn{
    padding: 4px 24px 5px;
    font-size: 12px;
}
.adding2 .panel-item-box.add-version{
    display: block;
}
.adding2 .panel-head.for-add{
    display: none;
}
.control-out{
    line-height: initial;
    text-align: right;
    margin-top: 33px;
}
.mode-select{
    overflow: hidden;
    width: 447px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 107px;
}
.select-type-box{
    width: 180px;
    height: 180px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
    border-radius: 2px;
    float: left;
    margin-right: 87px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    position: relative;
}
.select-type-box.active{
    border-color: #22A4E5;
}
.select-type-box:last-child{
    margin-right: 0;
}
.select-type-box .plat-pic{
    margin-top: 16px;
}
.select-type-box .plat-pic.zr_hide{
    display: none;
}
.select-type-box.active .plat-pic{
    display: none;
}
.select-type-box.active .plat-pic.zr_hide{
    display: inline-block;
}
.select-type-box .plat-name{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 22px;
}
.mode-under-btns{
    padding: 0 20px;
}
.mode-under-btns .btn{
    margin-left: 35px;
    padding: 7px 22px;
}
.setting-table{
    width: 100%;
}
.setting-table a{
    color: #22a4e5;
}
.setting-table a:hover{
    color: #25b3fa;
}
.title-sm-i{
    font-size: 15px;
    color: #999999;
    margin-left: 6px;
    position: relative;
    top: 1px;
}
.ab-tab .btn-sm{
    float: right;
    background: #1081DE;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.08);
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    color: #FFF;
    margin: 5px 0px 0px 0px;
    padding: 5px 13px;
}