/**/
body{font-family: ""PingFang SC",Proxima Nova","Helvetica Neue","Helvetica","Hiragino Sans GB","STHeitiSC Light","Microsoft YaHei UI Light","Microsoft YaHei","微软雅黑",Arial,sans-serif; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-weight: 300;}
.mb-28{margin-bottom:28px!important}
.mb-10{margin-bottom:10px!important}
@media (min-width:768px){.form-horizontal .control-label{width:170px!important}
}
.info_list_wrapper{padding:60px 15px 60px 55px;border-top:1px solid #f0f0f0}
.bugmanagement-usn .form-group{margin-bottom:26px}
.bugmanagement-usn .form-group:last-child{margin-bottom:0}
.group-right{width:690px!important}
.input-sm{height:36px;font-size:14px}
textarea.input-sm{height:120px;font-size:14px}
.save-all{display:block;background:#1081DE;box-shadow:0 1px 1px 0 rgba(0,0,0,.08);border-radius:2px;width:118px;height:36px;line-height:36px;text-align:center;font-size:14px;color:#FFF;cursor:pointer}
.save-all:hover{background-color: #3098F2;color: #fff;}
.system-out{padding-top:7px}
.system-out .checkbox-inline:first-child{padding-left:0}
.system-out .checkbox-inline .input-radio-show{vertical-align:top;position:relative;top:1px}
.select-type-box{width:120px;height:120px;background:#FFF;border:1px solid #DDD;box-shadow:0 2px 4px 0 rgba(0,0,0,.08);border-radius:2px;float:left;margin-right:15px;margin-bottom:15px;text-align:center;padding:10px;cursor:pointer;position:relative}
.select-type-box.active{border-color:#22A4E5}
.select-type-box:nth-child(5n){margin-right:0}
.select-type-box .plat-pic{margin-top:25px}
.select-type-box .plat-name{margin-top:13px;font-size:13px;position:absolute;width:100%;margin-left:-10px;bottom:14px}
.select-type-box .privilege_corner{position:absolute;top:-1px;right:-1px}
.control-label span{color: #EB5A3C;margin-left: 5px; }
.app-store-radio{display: none;}
/*测试成功*/
.tac{text-align:center}
.success-content-box{width:600px;height:320px;margin:120px auto 130px;background:#FFF;border:1px solid #EBEBEB;box-shadow:0 1px 1px 0 rgba(0,0,0,.04);-webkit-box-shadow:0 1px 1px 0 rgba(0,0,0,.04);border-radius:2px}
.success-tip{display:inline-block;margin-top:70px}
.success-title{font-size:18px;width:465px;margin:25px auto}
.blue-font{color:#22a4e5}
.bugmanagement-usn{ padding-bottom: 50px;}

.info_list_wrapper .has-error .control-label{color: #333;}
.info_list_wrapper .help-block{color: #EB5A3C;}